[2014-03-24 17:03] dennybritz opened #1 "Configuration sanity check"
We should do a sanity check on the configuration upon loading. Instead of the application crashing in the middle of execution due to a configuration issue, we should immediately exit if we find an obvious mistake. Some things we can check for:

- Does the schema match the variables used in factor functions?
- Do all extractor UDF files exist?
- Do all extractor output relations exist?

There proba

[2014-03-24 17:03] dennybritz opened #2 "Allow extractors to output to multiple relations"
All data of an extractor is currently written to the relation specified in the `output_relation` setting. It would be useful to allow extractors to write to multiple relations. One way to implement this would be to allow a `_relation` key in the JSON output and use that value for grouping.

[2014-03-24 17:04] dennybritz opened #3 "Documentation for IE features"
What are common features for IE applications? Dependency paths, etc.

[2014-03-24 17:06] dennybritz opened #4 "Model examples"
- MRF
- Linear CRF
- Skip-chain CRF
- Bayes Net
- LDA
- Min-Cut
- Correlation Clustering

[2014-03-24 17:06] dennybritz opened #5 "Automatic recommendations based on calibration data"
Currently, user need to interpret the calibration plots manually. It would be great if we could automatically give them recommendations based on the calibration data.

[2014-03-24 17:06] dennybritz opened #6 "Multinomial Support"

[2014-03-24 17:07] dennybritz opened #7 "Real number factors"

[2014-03-24 17:07] dennybritz opened #8 "Update AMI with JDK7"

[2014-03-24 17:08] dennybritz opened #9 "Throw meaningful errors when SQL extraction query is invalid"

[2014-03-24 17:08] dennybritz opened #10 "Multinomial example application"

[2014-03-24 17:08] dennybritz opened #11 "Specify holdout using pure SQL"

[2014-03-24 17:09] dennybritz opened #12 "Factor graph binary format"

[2014-03-24 17:10] dennybritz opened #13 "Pure SQL extractors"
People can currently write pure SQL extractors by using an empty extractor, but that's a "hack". We should have a principled way to allow for pure SQL extractor. The difficulty here is the assignment of unique variable IDs.

[2014-03-26 20:40] dennybritz opened #14 "Empty weight if variables are null"
When a variable in a weight rule is null, the weight will become null. Not intended.

[2014-04-02 19:14] #11 closed, assigned to nobody

[2014-04-03 21:13] feiranwang opened #16 "Error with ocr example in develop branch"
Error in develop branch but not in master.

[code]

[2014-04-07 20:48] #16 closed, assigned to nobody

[2014-04-09 06:47] senwu opened #19 "Which configuration file should we set the learning rate?"
For such a case, let’s change the learning rate from the default of “0.1” to the “0.001” by adding the following sampler options to the configuration file:

sampler.sampler_args: "-l 125 -s 1 -i 200 --alpha 0.001"

[2014-04-09 06:49] SenWu opened #20 "Catch the exception of no database connection"
There is no exception catch for database connection error, and the program runs forever...

[2014-04-13 23:20] zifeishan opened #22 "Example of Custom Holdout Query?"
Can you show me an example in application.conf to use the new **custom holdout query**? I need that pretty much. Thanks!

[2014-04-14 05:02] zifeishan opened #23 "holdout_query must ends with ";""
I found that `holdout_query` must be ended with ';' for now.
If I use the following:

[code]

The SQL query will be:

[code]

Apparently the system missed the ";" after holdout_query. Should be easy to fix.

[2014-04-15 02:47] #14 closed, assigned to nobody

[2014-04-15 22:32] #23 closed, assigned to nobody

[2014-04-15 22:32] #22 closed, assigned to dennybritz

[2014-04-17 05:01] zifeishan opened #24 "If multiple variables in same table, tables must be renamed in variable schema to prevent ID conflict"
I tried to update the smoke example for develop branch. I changed the syntax to current setting, but the grounding SQL script failed here:

[code]

The error is:

[code]

What seeems to cause the error is that **variable "smokes" and "has_cancer" are in the same table, and system tries to use the row ID as variable ID, but it fails since variables cannot have duplicate IDs**...

Any suggestions?

[2014-04-19 05:10] zifeishan opened #26 "Function executeSql Bug (in new sql_extractor)"
There are potential errors in the new function `executeSql` in `src/main/scala/org/deepdive/extraction/ExtractorRunner.scala`.

Is the last commit well-tested? @SenWu

I do sql:"select \* from articles limit 10;" in an extractor and style:"sql_extractor", and the error goes like below:

[code]

When I try to build my own code on this function, I also got errors like:

[code]

@dennybritz : What is

[2014-04-19 05:32] #26 closed, assigned to senwu

[2014-04-22 05:28] zifeishan opened #27 "Do not do inference in pipeline if there's no rule"
without inference rule, the system should not do inference at all. (extract only)
Now it has error message like:

[code]

[2014-04-23 03:13] zifeishan opened #28 "Log is empty after system is killed ??"
When system is running I can see the log in `log/2014-XX..XX.txt`,

but after I send a SIGINT  (CTRL+C), the log becomes empty. Frustrating...

[2014-04-24 02:52] msushkov opened #29 "Allow SQL statement in "before" clause of extractors"
Instead of an executable

[2014-04-25 00:54] msushkov opened #30 "Add result of EXPLAIN to log"
For input SQL statements to extractors

[2014-04-26 09:33] zifeishan opened #31 "Warn / report error on bad configuration"
There should be error messages when encountering unexpected configuration items.

Just now I mistyped "dependencies" as "depencencies", and there is no error message on parsing the config file. Therefore the dependencies is broken but programmers do not know what cause the problem.

Strongly suggest that unexpected configs should be abandoned, or at least warned.

[2014-04-26 09:37] #13 closed, assigned to nobody

[2014-04-26 22:13] zifeishan opened #32 "Get rid of tmp bash script in plpy_extractor"
Use jdbc rather than bash to execute SQL commands, to enable error catching.

[2014-04-26 22:57] zifeishan opened #33 "Extract-only Pipelines"
Users should be able to only perform extractions, while skipping grounding, learning, inference and calibration. Or a more flexible pipeline should be supported.

[2014-04-27 00:44] tomMulholland opened #34 "Error thrown during sampling. java.lang.UnsupportedOperationException: empty.reduceLeft"
I am getting the following error, although the setup is nearly identical to the deepdive_spouse example, and all the dd factors in postgreSQL are full (included below).

The application.conf file is available at https://github.com/tomMulholland/isDB

[code]

DeepDive variables are full.

[code]

[2014-04-30 19:17] #34 closed, assigned to nobody

[2014-04-30 21:32] msushkov opened #35 "Before and after scripts with cmd_extractor"

[2014-05-01 18:04] zifeishan opened #36 "Variable ID Issue"
1. Sampler requires globally unique ID column for all tables containing variable.
2. New grounding no longer reorder variable IDs, but only use ID columns of different tables, therefore IDs in different tables must be globally unique before grounding.
3. We may reassign globally unique IDs before grounding, but currently IDs are explicit to users so that reassignment may break other references.
4.

[2014-05-02 01:44] #33 closed, assigned to nobody

[2014-05-02 01:44] #30 closed, assigned to nobody

[2014-05-02 01:47] #28 closed, assigned to nobody

[2014-05-02 01:48] #27 closed, assigned to nobody

[2014-05-02 02:14] zifeishan opened #37 "Proofreading: documentation of extractors"
- extractors (Done in http://deepdive.stanford.edu/doc/extractors.html; needs review and improvements)
- reviewers: @feiranwang @msushkov @SenWu

[2014-05-02 02:15] zifeishan opened #38 "Documentation: new configurations supported"
- New configurations supported
  - skip_learning
  - weight_table
  - relearn_from

[2014-05-02 02:15] zifeishan opened #39 "GP parallel load/unload for tsv_extractor"
- Greenplum parallel load / unload is not implemented yet in tsv_extractor

[2014-05-02 02:17] zifeishan opened #40 "Code review: new extractors"
- **code review** about following components:
  - New extractor path 1: plpy_extractor
  - New extractor path 2: tsv_extractor
  - Extractor path 3: sql_extractor
  - Extractor path 4: cmd_extractor

[2014-05-02 02:17] zifeishan opened #41 "Code review: grounding"

[2014-05-02 02:18] zifeishan opened #42 "Test examples/ocr"

[2014-05-02 02:18] zifeishan opened #43 "Test examples/spouse"
NOTE: This example wrongly refer to variable "id"s. Need rewriting.
@feiranwang @msushkov

[2014-05-02 02:19] zifeishan opened #44 "Remove examples/multinomial"

[2014-05-02 02:20] zifeishan opened #45 "Test examples/nlp_extractor"
Need to be coherent with ID conventions

[2014-05-02 02:21] zifeishan opened #46 "Test examples/smoke"

[2014-05-02 02:28] zifeishan opened #47 "Merge grounding code into develop branch"
A general version not optimized for greenplum will be fine.

[2014-05-02 19:04] zifeishan opened #48 "Nested Example"
change

[code]

to

[code]

(1) extractions->extraction.extractors; (2) nested is easier for reading

In all documentations on web.

[2014-05-02 19:05] feiranwang opened #49 "EdgeCount for variables in grounding output is set to -1"

[2014-05-03 04:21] zifeishan opened #50 "Spouse example: tsv_extractor number of rows mismatch"
May have neglected some rows due to unknown parsing issues of TSV.

[code]

Correct number should be:

[code]

(tested on other two extractors)

[2014-05-03 04:28] #43 closed, assigned to zifeishan

[2014-05-03 04:29] #40 closed, assigned to feiranwang

[2014-05-03 04:29] #41 closed, assigned to msushkov

[2014-05-03 04:32] zifeishan opened #51 "Fix tests for json_extractor"
In current tests it assume that DeepDive will auto-assign ID for developers if "id" is not returned in JSON. We cancelled that in the newest commit 5a6d6518ba1ac64bb395ab052213a5b8d1b21e2d.

Need to fix tests to cancel this assumption: https://travis-ci.org/HazyResearch/deepdive/jobs/24320060

[2014-05-03 05:59] zifeishan opened #52 "Documenting tsv_extractor"

[2014-05-03 06:43] zifeishan opened #53 "udf_extractor -> json_extractor"
`udf_extractor` (the default one) is really a bad naming, since plpy/tsv extractors also have "udf".

We'll recently change all of them to `json_extractor`.

[2014-05-03 07:24] #52 closed, assigned to zifeishan

[2014-05-03 08:33] zifeishan opened #54 "Auto-choose between Linux/Mac sampler"

[2014-05-03 08:35] zifeishan opened #55 "Implement relearn_from and weight_table"
Recover the views old system can give users, and enable users to reuse commands like `relearn_from` and `weight_table`.

[2014-05-03 09:18] zifeishan opened #56 "Wrong grounding ID assignment?"
I'm running on madmax (with GP database) and sampling failed. it seems that variable IDs are not correct (0--144847, while count is only 75454).

While I am running on Mac (with PSQL) it seems fine.

Logs:

[code]

deepdive_spouse_plpy=# select min(id) from has_spouse;
## min

  0
(1 row)

deepdive_spouse_plpy=# select max(id) from has_spouse;
##  max

144847
(1 row)

deepdive_spouse_plpy=# select

[2014-05-03 09:18] #54 closed, assigned to nobody

[2014-05-03 09:21] #53 closed, assigned to zifeishan

[2014-05-03 09:26] zifeishan opened #57 "Default not to output all grounding queries in console"
Takes too much space :)

[2014-05-03 09:33] zifeishan opened #58 "Fail to assign IDs distribution keys in GP"
Known issue; will occur if we run test.sh with Greenplum:

If "id" column is the distribution key (common when id is the first column), Assigning ID with a sequence will fail.

Can we use Ce's script to update id for greenplum in this case?

@zhangce @feiranwang

[code]

[code]

[2014-05-03 21:44] zifeishan opened #62 "Greenplum Programming Guide"
There're several caveats to use our new system with GP. It's good if we make a new documentation for these:
1. distribution key
   - variable `id` column cannot be the distribution key (important!) @feiranwang
   - any column that needs sequential assignment (e.g. "mention_id" in spouse example) cannot be the distribution key
   - Suggest users to put columns like id / mention_id not at the first

[2014-05-03 23:19] zifeishan opened #63 "Proofreading for example walkthrough"
I updated the example walkthrough:
http://deepdive.stanford.edu/doc/walkthrough.html

Mikhail, can you read through it to make sure everything is coherent (e.g. no IDs, no previous conventions, etc)?

[2014-05-03 23:22] #62 closed, assigned to msushkov

[2014-05-03 23:32] zifeishan opened #64 "Unit tests"
Testing
- high priority:
  - [M] Add new application.conf syntax (like relearn, extrcactor type) to unit tests
  - [M] Add unit for new extractor types
- low priority:
  - [M] Logistic Regression test is commented out right now. It shouldn't :)
  - [M] TaskManager test. Uncomment code
  - [M] Remove protobuf specs

[2014-05-03 23:52] zifeishan opened #65 "Run ANALYZE output_relation after each udf/plpy/tsv extractor!"
ANALYZE is essential for SQL query optimization!!

Add `ANALYZE output_relation` into ExtractorRunner!

And take database classes! :)

[2014-05-04 00:01] #65 closed, assigned to zifeishan

[2014-05-04 09:03] zifeishan opened #66 "Changelog 0.3 not added to website"
Permission denied when deploying. Waiting for Andrej to give permission to create new files.

Or maybe Denny can help running ./deploy.sh in gh-pages? @dennybritz

[2014-05-04 09:45] zifeishan opened #67 "holdout_query still supported in new grounding?"
If developers specify holdout query, they manually specify a query to select variables into dd_graph_variables_holdout. However, can this still work in our new grounding?

I guess it might work as long as currently grounding is still using this table. To users, selecting this `id` (which is all NULL) into a table seems weird...

http://deepdive.stanford.edu/doc/calibration.html#custom_holdout

[2014-05-04 10:05] zifeishan opened #68 "Spouse example result do not make sence?"
The weights are rediculous... Highest weight is "s mother,"!
and symmetry get a -700 weight...

I can at least get some nice calibration plots before, but now I cannot. Is there potentially some wrong mapping in grounding? some wrong feature in extraction?

btw I'm testing with plpy_extractor.

[code]

[2014-05-04 10:27] zifeishan opened #69 "Sampler fixed weight drop from 10 to 8.19"
I tried to fix spouse example f_has_spouse_symmetry weight as 10, but in the final table it is 8.19148819185699.

Not sure whether is it an error of sampler or grounding...

[2014-05-04 20:20] #56 closed, assigned to feiranwang

[2014-05-04 20:20] #58 closed, assigned to feiranwang

[2014-05-04 20:21] #44 closed, assigned to feiranwang

[2014-05-04 20:21] #47 closed, assigned to feiranwang

[2014-05-04 20:22] #42 closed, assigned to feiranwang

[2014-05-04 20:27] #55 closed, assigned to feiranwang

[2014-05-04 21:18] #36 closed, assigned to zifeishan

[2014-05-04 23:19] #68 closed, assigned to nobody

[2014-05-05 09:07] #66 closed, assigned to nobody

[2014-05-05 09:08] #63 closed, assigned to amirabs

[2014-05-05 09:09] #51 closed, assigned to senwu

[2014-05-05 09:13] #45 closed, assigned to senwu

[2014-05-05 09:30] zifeishan opened #70 "Grounding fails now.."
[code]

[2014-05-05 09:35] #48 closed, assigned to netj

[2014-05-05 09:35] #57 closed, assigned to feiranwang

[2014-05-05 17:23] feiranwang opened #71 "sampler name"
The sampler names should be
sampler-dw-linux
sampler-dw-mac

Not dw_mac or dw_linux in smoke example run.sh

[2014-05-05 17:30] feiranwang opened #72 "Smoke example error"
id shouldn't be BIGSERIAL PRIMARY KEY
it should be BIGINT

Bugs in prepare_database.sh, no semicolon after a statement.

[2014-05-05 17:47] #70 closed, assigned to feiranwang

[2014-05-05 17:53] #49 closed, assigned to feiranwang

[2014-05-05 17:54] #67 closed, assigned to feiranwang

[2014-05-05 18:34] #72 closed, assigned to msushkov

[2014-05-05 18:34] #71 closed, assigned to msushkov

[2014-05-05 18:38] zhangce opened #73 "plpy"
kbp10docs=# SELECT (__X.__COLUMN).doc_id, (__X.__COLUMN).mention_id, (__X.__COLUMN).sentence_id, (__X.__COLUMN).word, (__X.__COLUMN).type
kbp10docs-# FROM (SELECT func_ext_mention( doc_id, sentence_id, words, pos, ner, lemma, character_offset_begin, character_offset_end ) AS __COLUMN
kbp10docs(# from  sentence) as __X;
ERROR:  length of returned sequence did not match number of columns in row  (se

[2014-05-05 19:46] #38 closed, assigned to zifeishan

[2014-05-05 19:46] #37 closed, assigned to netj

[2014-05-05 21:04] zifeishan opened #74 "Try fixing plpy_extractor return type"
Instead of returning tuples of arrays, For scalability it should return SETOF tuples.

The problem we met is GROUP BY. Try creating view for that.

[2014-05-05 21:09] zifeishan opened #75 "Fix shutdown bash script"

[2014-05-06 01:40] feiranwang opened #76 "Mac Sampler bug"

[2014-05-06 04:10] #74 closed, assigned to zifeishan

[2014-05-06 04:12] zifeishan opened #77 "Multinomial for release"
Get a clean, working version of multinomial support for developers!

[2014-05-06 04:13] #69 closed, assigned to nobody

[2014-05-06 05:49] feiranwang opened #78 "test.sh bug"
unzip:  cannot find or open dw_mac.zip, dw_mac.zip.zip or dw_mac.zip.ZIP.

[2014-05-06 05:51] feiranwang opened #79 "test.sh bug"
unzip:  cannot find or open dw_mac.zip, dw_mac.zip.zip or dw_mac.zip.ZIP.

[2014-05-06 05:52] feiranwang opened #80 "unzip lib should be part of installation"
unzipping lib should be part of installation, rather than execute using a script.

[2014-05-06 06:08] #78 closed, assigned to nobody

[2014-05-06 06:08] #76 closed, assigned to nobody

[2014-05-06 06:31] zifeishan opened #81 "Make DeepDive not relying on environmental variables"
Should not use DBNAME, PGPORT, etc: they should be set as arguments in db.default.
Should not use them once these values are set.

Usage: in ExtractorRunner, SQLInferenceDataStore

[2014-05-06 07:20] zhangce opened #82 "SQL extractor does not parse whether the input is valid..."
Following one should throw an error, but does not

    ext_el_feature_coref {
      input: """
        INSERT INTO el_features_highprec
      select t0.doc_id, t0.mid1, t1.fid, 'co'::TEXT
      FROM   coref_candidates t0, el_features_highprec t1
      WHERE  t1.feature= 'es' AND t0.mid2 = t1.mention_id;
    """
    dependencies : ["ext_coref_candidate", "ext_el_feature_extstr_person"]
      style:

[2014-05-06 07:35] zhangce opened #83 "No error when CREATE OR REPLACE function failed"

[2014-05-06 17:12] feiranwang opened #84 "Fast assign ID function does not get registered successfully."

[2014-05-06 21:39] feiranwang opened #85 "extractor bug"
Amir and I got the same error message

When running spouse walkthrough (Amir)
KeyError: 'sentence_id'

When testing Logistic Regression (Feiran)
KeyError: 'id'

[2014-05-07 00:02] #80 closed, assigned to zifeishan

[2014-05-07 07:37] #85 closed, assigned to zifeishan

[2014-05-07 10:56] #81 closed, assigned to zifeishan

[2014-05-07 10:56] #46 closed, assigned to msushkov

[2014-05-07 10:58] #79 closed, assigned to zifeishan

[2014-05-07 10:58] #75 closed, assigned to senwu

[2014-05-08 00:12] netj opened #87 "Unzipping dw_mac/linux.zip should be done from sbt"
I was going through the walkthrough again with the latest master/develop branch, and found ./run.sh hanging like below:

[code]

It turns out I skipped the `./test.sh` and the necessary shared libraries weren't correctly installed/extracted at the right places.

I'm puzzled why such an important build/install step is not included in the sbt build config, but hanging around in a test script, commen

[2014-05-09 08:38] zifeishan opened #90 "Integrate Ce's fast sequence filling into fill_sequence.sh"
It would be great if we can have Ce's function provided to GP developers for faster sequence filling.

Currently we have util/fill_sequence.sh [TABLE_NAME] [COL_NAME], but it is single-threaded.

Can we add Ce's script into `util/` and allow similar ways of usage?

[2014-05-09 20:54] msushkov opened #91 "Smoke example output doesn't match correct result"
(old system output)

deepdive_smoke_master=# select \* from people1_has_cancer_inference order by person_id;
 id | person_id |  name  | has_cancer | category | expectation
----+-----------+--------+------------+----------+-------------
  1 |         1 | Anna   |            |        0 |        0.64
  2 |         2 | Bob    |            |        0 |       0.547
  3 |         3 | Edward |

[2014-05-12 17:36] netj opened #94 "Add a Facade command, `deepdive`"
I wish DeepDive provided a clean "facade" command (perhaps named deepdive?) that the app users/developers could call from their app directory for performing the standard tasks, e.g., extraction, grounding, learning/inference, end-to-end, etc. I really like the declarative style (application.conf) of defining apps, but the rest of the necessary glue code seems pretty brittle. Here's my suggestion:

[2014-05-12 17:47] netj opened #95 "Move doc/*.md into develop/master tree"
Keeping the documentation in a separate branch (gh-pages) makes it hard to keep the doc in sync with the code.  I suggest moving the gh-pages' .md files into the develop/master branch's doc/ dir, and publish them to gh-pages branch periodically as we do to our deepdive.stanford.edu server.  This way, Git will do the work, and we won't have to put extra effort to keep the documentation consistent w

[2014-05-12 23:05] zifeishan opened #96 "New sampler argument: regularization parameter"
Users should have flexibility to tune sampler regularization parameter.

Without this, sometimes we cannot learn well-regularized weights.

[2014-05-20 01:24] zifeishan opened #102 "nlp_extractor dependency path"
Should not output dep(., *) when sentence is too long. Should output something meaningful.

[2014-05-21 22:14] #84 closed, assigned to zhangce

[2014-05-22 00:43] feiranwang opened #103 "json extractor bug - missing attributes"
If the database field is null, json doesn't contain that field.
(That's the reason we got key error before)

json should contain that field, with a null value.

[2014-05-22 07:32] zifeishan opened #104 "plpy_extractor run function cannot have 4-space indentation"
In run() function, if the first-level indent uses 4 spaces and there is "import_lib", everything will go into the "else" part in translated plpy function, and no errors will be reported.

OMG sorry for that.

We might remove all the first-level indent to NO indent in the function to solve it.

Also we should explicitly point out the translated files for easier debugging.

[2014-05-22 09:30] zifeishan opened #105 "automatically run "chmod +x" on before/after scripts if they are files"

[2014-05-22 16:33] #87 closed, assigned to nobody

[2014-05-22 16:36] #6 closed, assigned to nobody

[2014-05-22 16:37] #19 closed, assigned to dennybritz

[2014-05-22 16:48] #96 closed, assigned to feiranwang

[2014-05-22 20:12] amirabs opened #106 "[success] Error!"
I get an Error and at the end the system reports a [success]:

ERROR: relation "variables0_layer1_value_inference" does not exist
  Position: 753
13:10:29 [PostgresInferenceDataStoreComponent$PostgresInferenceDataStore(akka://deepdive)] INFO  [Error] Please check the SQL cmd!
13:10:29 [EventStream] DEBUG shutting down: StandardOutLogger started
Not interrupting system thread Thread[process reaper,

[2014-05-22 21:38] amirabs opened #107 "Float to JSON"
the PostgresExtractionDataStore file doesn't support Floating point!
the following should be added to "    anyValToJson(x: Any)" function in JdbcExtractionDataStore.scala file

      "case x : Float => JsNumber(x)"

[2014-05-24 03:00] zifeishan opened #109 "make install should create a runnable binary `deepdive`"
@zhangce It's so easy to use! :+1:

Make sure `deepdive` don't throw errors when `-c` is not given.

Also clean up related examples to be coherent to it. @zifeishan

[2014-05-25 03:42] zifeishan opened #110 "enable SQL comments"
Users cannot use comments for SQL queries in current system. This is because the system will simply joining all lines (which might make the comment commenting all lines)

These include:
1. sql_extractor.sql
2. extractors.input
3. factors.input_query

We should enable users to use comments somehow..

[2014-05-27 09:50] zifeishan opened #112 "Error message when no variable defined"
If no variables are defined in schema but active inference rules are present, the error message does not make sence: "error: column count does not exist"

Should do some checks when compiling.

[2014-05-27 09:50] #112 closed, assigned to nobody

[2014-05-28 00:16] #95 closed, assigned to nobody

[2014-05-30 09:24] zifeishan opened #116 "Enable array typecast in tsv extractor"
Currently users can only use array_to_string to process arrays. However PSQL array output format is parsable. We can provide the functionality in ddlib.

Reference:
https://github.com/psycopg/psycopg2/blob/master/psycopg/typecast_array.c#L60

[2014-06-17 17:48] feiranwang opened #117 "json extractor bug - stderr can't print to log"
In json extractor, using sys.stderr.write(message), the message cannot be printed to log.

[2014-06-24 04:18] zifeishan opened #118 "Catch exceptions in temporal bash scripts"
In psql_extractor / tsv_extractor, some temporal bash scripts are used. Errors in executing these files should let deepdive stop, but currently it doesn't.

Can add bash commands such as:
`if [ "$?" != "0" ]; then echo "FAILED!"; exit 1; fi`
into the generated bash files to let the system stop when errors happen.

[2014-06-30 16:37] feiranwang opened #120 "json extractor bug - no error message"
No error message for udf

[2014-07-11 02:45] #120 closed, assigned to nobody

[2014-07-11 02:54] #117 closed, assigned to zifeishan

[2014-07-11 03:05] zifeishan opened #121 "Travis downloading occasionally fails"
Recently Travis test occasionally fails when downloading scala packages:

https://travis-ci.org/HazyResearch/deepdive/jobs/29659939#L1423
[code]

https://travis-ci.org/HazyResearch/deepdive/jobs/29659991#L1252
[code]

https://travis-ci.org/HazyResearch/deepdive/jobs/28555875
[code]

https://travis-ci.org/HazyResearch/deepdive/jobs/28555763#L1422
[code]

Not sure what happens...

[2014-08-16 22:26] zifeishan opened #127 "`dd_inference_result_variables_mapped_weights` schema name misleading"
The name of the schema `dd_inference_result_variables_mapped_weights` is misleading.

It should have nothing to do with variables. It just maps weights to corresponding learned values.

We probably want to fix the system, documents as well as examples.

[2014-09-06 23:37] zifeishan opened #130 "Document the scala code"
Add documentation to all classes and methods, in our code.

Refer to:
  http://docs.scala-lang.org/style/scaladoc.html

[2014-09-10 18:44] zhangce opened #131 "Multinomial: ERROR: column "category" specified more than once"
For variables like

  schema.variables {
    visual_scenes.feat : RealNumberArray(4096)
    scene_categories.category : Categorical(298)
  }

The system throws error

13:38:53 [PostgresInferenceDataStoreComponent$PostgresInferenceDataStore(akka://deepdive)] DEBUG EXECUTING....
    CREATE VIEW scene_categories_category_inference AS
    (SELECT scene_categories.*, mir.category, mir.expectation FROM

[2014-09-14 09:41] zhangce opened #137 "DataLoader interface problem for Greenplum"
First, are you sure this runs on GP?

115        GPLOAD:
116          INPUT:
122        OUTPUT:

Why OUTPUT is in the same level of indentation with GPLOAD?
YAML is indentation-sensitive. I am expecting this line gives

[code]

DId you guys really run the code you wrote on GP? Or am I
missing anything?

111        DATABASE: ${dbSettings.dbname}
USER: ${dbSettings.user}
HOST: ${dbSettings.host}
POR

[2014-09-15 05:12] #77 closed, assigned to feiranwang

[2014-09-18 08:51] #32 closed, assigned to nobody

[2014-09-18 08:53] #109 closed, assigned to nobody

[2014-09-22 23:25] zifeishan opened #144 "Redesign weight tables"
Now the view `dd_inference_result_variables_mapped_weights` do not have weight descriptions.

Factors with `weight:"?"` or fixed weights will not create tables `dd_weights_*`, but just creating a row in dd_graph_weights.

We should also create a table for these factors, and make `dd_inference_result_variables_mapped_weights` show descriptions again, as following docs are referring to this view:
-

[2014-10-11 02:19] #144 closed, assigned to zifeishan

[2014-10-11 02:26] zifeishan opened #152 "Should not assume util/tobinary.py is in current directory"
I run deepdive in APP_HOME rather than DEEPDIVE_HOME, and following errors appear:

[code]

Apparently by calling `python util/tobinary.py`, deepdive assumes that current folder is `DEEPDIVE_HOME` when deepdive runs. This is achieved in our template configurations (through a `cd` in run.sh), but this should not be mandatory, and the command `deepdive` should be able to run anywhere.

Also, users s

[2014-10-13 22:27] #90 closed, assigned to feiranwang

[2014-10-20 05:58] #118 closed, assigned to zifeishan

[2014-10-27 18:25] feiranwang opened #160 "Multinomial weight mapping under greenplum"
Multinomial factor function has a wrong weight mapping during grounding under greenplum. The inference results are correct, but the weights do not match with the descriptions.

[2014-10-27 18:26] #10 closed, assigned to nobody

[2014-10-27 18:26] #12 closed, assigned to nobody

[2014-10-27 18:33] #24 closed, assigned to dennybritz

[2014-10-27 18:33] #64 closed, assigned to zifeishan

[2014-10-30 00:57] #160 closed, assigned to feiranwang

[2014-10-30 01:03] #137 closed, assigned to feiranwang

[2014-10-31 09:20] #152 closed, assigned to nobody

[2014-10-31 09:26] #105 closed, assigned to nobody

[2014-10-31 09:28] #94 closed, assigned to netj

[2014-10-31 09:29] #91 closed, assigned to zhangce

[2014-10-31 09:32] #35 closed, assigned to nobody

[2014-11-09 18:24] #131 closed, assigned to nobody

[2014-11-11 00:38] #103 closed, assigned to zifeishan

[2014-11-11 01:54] #29 closed, assigned to nobody

[2014-11-12 01:31] #50 closed, assigned to zifeishan

[2014-11-12 03:17] #127 closed, assigned to feiranwang

[2014-11-17 09:33] zifeishan opened #166 "Mindtagger: COPY HEADER available only in CSV mode"
In Mindtagger example, COPY HEADER syntax is used. It works well with GP, but with Postgresql, I got the following error:

ERROR:  COPY HEADER available only in CSV mode.

It might be the case that `HEADER` only works with GP. If so, maybe we should fix the example.

[2014-11-17 20:37] #166 closed, assigned to netj

[2014-11-21 23:05] zifeishan opened #173 "Mindtagger failed to parse some array"
On the following CSV row, mindtagger seems to fail parsing the s_words array.

[code]

[2014-12-05 08:47] #173 closed, assigned to netj

[2014-12-05 22:52] rionda opened #175 "Try to remove the __dd_variabe_type__ column before adding it"
During grounding, the '**dd_variable_type**' column is added to the tables involved in inference rules. If for some reason grounding gets killed, the table is still there, so when running the application again, it fails during grounding because the column already exists, so the following query will fail:
'ALTER TABLE gene_mentions ADD COLUMN **dd_variable_type** int'
We need to try to remove the c

[2014-12-15 01:30] #175 closed, assigned to zifeishan

[2014-12-24 08:47] zifeishan opened #187 "ddlib for python3"
ddlib does not work for python3 now.

[2015-01-06 10:29] zifeishan opened #195 "Multinode GP installation guide"
Current GP documentation only demonstrates a single-node installation, while multi-node installation is actually not harder. Should we update the docs to teach people how to install multi-node GP? @zhangce

[2015-01-11 07:47] adamwgoldberg opened #200 "factor_graph.pdf has dead link"
http://deepdive.stanford.edu/assets/factor_graph.pdf links to http://deepdive.stanford.edu/doc/inference_rule_functions.html, which 404s.

[2015-01-14 04:42] zifeishan opened #204 "Cross Validation always choose largest regularization parameter?"
@zhangce

It seems that CV always choose the largest reg param in our application. We set the reg_param up to 50, then it chooses 50...

Can you confirm the CV code is correct? Thanks!

[2015-01-28 06:38] zifeishan opened #206 "Improving generic feature lib dependency path features"
In the ddlib code:

https://github.com/HazyResearch/deepdive/blob/master/ddlib/ddlib/gen_feats.py#L79

Currently the dependency path features are treated as a same feature for all dictionaries. However a dependency path from the mention to `dict X` may have different meaning than a same dependency path to `dict Y`.

I think we should add a `dict_id` here. Does this sound reasonable?

@SenWu @riond

[2015-02-02 04:12] zifeishan opened #211 "Recovery from Failure"
Sometimes an application will fail:
- in the middle of grounding
- after sampling is finished

We should be able to support recovering from a certain point. Now we have to rerun the whole pipeline every time once a failure occurs, which takes long.

[2015-02-02 07:01] chrismre commented on #204
What is going on with this? Is this fixed?

[2015-02-02 07:44] zifeishan opened #212 "Generic feature library: are NER O* features generally useless?"
For most applications I am building, I found a set of particular features generated by the feature library is useless. This type of feature often account for a large portion of the generated features, and they does not help much for my applications. The pattern for these features are:

[code]

Which are NER features that contain a sequence of continuous "O"s. e.g. `W_NER_LEFT_[O O O]`, `NER_SEQ_[O

[2015-02-02 07:54] zifeishan commented on #204
@chrismre I think it is not fixed yet.  I will run a test on an example application to make sure if the problem actually exists, and send a report to Ce.

[2015-02-02 07:55] SenWu commented on #212
I will think about it. Thanks!
Can I ask which materials(research paper or news article) are you using? I agree these features will have a lot of O if you are using research paper.
I recommend you remove these features in your own applications.

[2015-02-02 08:27] zifeishan commented on #212
@SenWu Thanks! I am using US patents. They are similar to research papers.

I saw that in the Genomics application, we are replacing the "O"s with lemmas. Is that a common improvement?

[2015-02-02 08:29] SenWu commented on #212
Yes. Basically, you can ignore features with high coverage in examples. @zifeishan

[2015-02-02 13:52] zhangce commented on #204
I just reproduced this bug, will fix it today

Ce
On Feb 2, 2015 3:05 AM, "chrismre" <notifications@github.com> wrote:

[2015-02-02 15:32] chrismre commented on #212
I'm not sure I follow this discussion :). Is something in this family of features useful in any application?

[2015-02-03 08:12] zifeishan opened #213 "Generic feature library: position of mention in sentence?"
Position of mention in a sentence might be important. It could be bucketized and lengths to both front and end could be informative.

e.g. In sentence "At the same time, the ...", for mention candidate "At", two features can be generated: `dist_to_start=0`, `dist_to_end>5`.

Similar features could be generated for relations.

Does this make sense?

[2015-02-03 08:18] zifeishan opened #214 "Generic feature library: dependency path to sentence root"
An informative feature might be the dependency path from a mention to the root of the sentence.

e.g.

[code]

For mention "method": the dependency path to root is directly "root".

For mention "performance shortage", the path to root is `dobj (predicting) - vmod (system) - prep_of (method) - root`.

Dep paths to root might be useful in deciding what role the mention plays in the sentence.

[2015-02-03 23:39] samzhang111 opened #215 "issue with Context.deepdiveHome"
Hi all,

I am working through the tutorial, and running this inference rule (http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough.html#inference_rules), fails with this error (cannot find tobinary.py):

http://pastebin.com/5XWLcMGm

It looks like the error comes from scala/org/deepdive/inference/datastore/SQLInferenceDataStore.scala on line 918:
```val cmd = s"python ${Context.deepdiveH

[2015-02-04 00:02] feiranwang commented on #215
@zifeishan Do you have any idea on this?

[2015-02-04 06:53] samzhang111 commented on #215
I figured it out. [tutorial_example/step1-basic/run.sh](https://github.com/HazyResearch/deepdive/blob/master/examples/tutorial_example/step1-basic/run.sh#L14) exports DEEPDIVE_DIR with an extra `../`. It is the right number when you run it from the examples directory, but too many if you copy it to app/spouse.

The [tutorial](http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough.html#pre

[2015-02-04 07:13] samzhang111 opened #218 "calibration holdout_query in tutorial: null value in column "variable_id" violates not-null constraint"
I am using the holdout_query code from the first tutorial:

[code]

All of the ids in has_spouse are blank though. They were set to newlines in an [earlier stage in the tutorial](http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough.html#candidate_relations) ([code](https://github.com/HazyResearch/deepdive/blob/master/examples/tutorial_example/step1-basic/udf/ext_has_spouse.py#L58)). So

[2015-02-04 07:16] samzhang111 opened #219 "sampler-dw-linux: Assertion `n_loaded == n_var` failed"
On the [final part of the first tutorial](http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough.html#get_result), I switched to using `calibration.holdout_fraction: 0.25` instead of `calibration.holdout_query` because of #218. Now I am getting the following assertion error when run:

[code]

[2015-02-04 16:41] wagger301 opened #220 "Source file does not exist"
I cloned the most recent github version yesterday and when running "make test", I received this error:
java.lang.IllegalArgumentException: requirement failed: Source file 'deepdive/examples/tutorial_example/step2-generic-features/experiment-reports/v00001/dd-out' does not exist.

I've looked through the files and it's definitely there, so any idea what is causing this?

Thanks!

[2015-02-04 16:57] #220 closed

[2015-02-05 17:31] feiranwang commented on #218
The normal workflow for deepdive would be assigning id before assigning holdout. This error means your ids are probably not assigned properly. Can you paste the full log?

[2015-02-05 19:00] #218 closed

[2015-02-05 19:00] #215 closed

[2015-02-05 20:01] samzhang111 commented on #219
Fixing #218 fixed this as well. Forgot to include the variable in schema.variables.

[2015-02-05 20:01] #219 closed

[2015-02-07 00:27] adamwgoldberg opened #226 "ChunkingApp sometimes hangs"
As discussed. :)

[2015-02-07 00:34] adamwgoldberg commented on #226
@feiranwang @SenWu

[2015-02-11 00:18] adamwgoldberg opened #231 "Tutorial not compatible with Docker"
- Rewrite tutorial to incorporate Docker

Minor issues:
- Tutorial step1 (etc.) has incorrect DEEPDIVE_HOME path (check for existing one rather than clobbering what exists in the env already)

[2015-02-16 14:28] zifeishan opened #236 "Encoding / Decoding PostgreSQL Arrays for tsv_extractor"
Currently if users want to use arrays as input of TSV extractor, they typically use "array_to_string" to add delimiters. It is also not easy for users to figure out how to dump arrays in outputs of TSV extractors.

We should provide ways in a library (ddlib?) to encode / decode PostgreSQL arrays for TSV extractors. There are some code in some of our applications.

[2015-02-18 06:51] zifeishan opened #237 "Multi-node GreenPlum documentation"
We might want to add an example of how to deploy a multi-node GP in [our GP installation guide](http://deepdive.stanford.edu/doc/advanced/greenplum.html), to make it easier for users to deploy.

[2015-02-27 04:40] zifeishan opened #238 "Imply factor function"
When is it desired to use a "Imply" factor function?

For my application, I want to punish the case where variable `a` is True and `b` is False. I tried `Imply(a, b)` but got the learned weights dramatically large.
I simply change it to `And(a, !b)` which should be the negation of the `Imply` factor, and it works properly (learns a small negative weight).

Anyone got similar experience and could e

[2015-03-02 07:10] superChing opened #239 "When doing inference, /root/util/tobinary.py path error"
I set up deepdive using  Docker .
I'm running the tutorial walkthrough : "Example Application: A Mention-Level Extraction System" .
And things goes well until the inference stage.
The first error log is :

and the following is more thorough logs:

...
05:13:46 [PostgresInferenceDataStoreComponent$PostgresInferenceDataStore(akka://deepdive)] INFO  Converting grounding file format...
05:13:46 [Postg

[2015-03-02 20:30] Pede23 opened #240 "PostgresInferenceDataStore.scala Error Fix"
Hey guys, I was stuck on this error that always popped up when I tried to run the spouse and other examples.

13:08:41 [PostgresInferenceDataStoreComponent$PostgresInferenceDataStore(akka://deepdive)] INFO  Copying inference result weights...
13:08:41 [PostgresInferenceDataStoreComponent$PostgresInferenceDataStore(akka://deepdive)] INFO  psql  -d deepdive_spouse  -U yytcadm  -p 5432  -h localhost

[2015-03-05 22:51] raphaelhoffmann opened #241 "system continues processing after throwing plpy errors"
It would be preferable if the system fails after throwing plpy errors.

[2015-03-06 00:07] feiranwang commented on #240
Hi @Pede23, thanks for reporting the issue. It seems we don't have this problem for all the machines we have tested. Maybe using a newer version of PostgreSQL (> 9) can solve this problem.

[2015-03-06 00:07] #240 closed

[2015-03-06 00:16] feiranwang commented on #238
There's a bug in imply function in sampler. I think Ce fixed it. Please check the compiled binary (release/dw_linux) under HazyResearch/sampler.

[2015-03-10 23:55] raphaelhoffmann opened #242 "Different tmp dir for each run"
Currently, when a deepdive run fails, the intermediate files in the tmp dir are not automatically removed. This is useful for debugging, but when you re-run deepdive without manually removing these tmp files, they are often picked up as inputs which then causes unexpected errors.

One solution may be to use a different tmp dir for each run, eg. /tmp/RANDOM#/.

[2015-03-13 00:51] adamwgoldberg commented on #239
This is a known issue: #231

[2015-03-13 21:33] brahmaneya opened #245 "Errors in deepdive installation guide, tutorial, etc"
Installation Guide:

export PYTHONPATH=DEEPDIVE_HOME/ddlib:$PYTHONPATH

should be (missing dollar sign before DEEPDIVE_HOME)

export PYTHONPATH=$DEEPDIVE_HOME/ddlib:$PYTHONPATH

Creating a new Application:

deepdive: {
      db.default {

should be (extra colon after deepdive)

deepdive {
      db.default {

Walkthrough:

You can check that the relations have been successfully created with the fol

[2015-04-07 02:50] zifeishan commented on #104
Fixed in PR https://github.com/HazyResearch/deepdive/pull/251.

[2015-04-07 02:50] #104 closed

[2015-04-07 02:53] zifeishan opened #252 "Corner-case bugs with plpy extractor"
Corner-case issues with the plpy function parser:

- Function `run` must have an argument list in ONE line.
- Should trim all the comments before parsing. A comment like `# def run(...)` will break the parser.

[2015-04-07 03:31] zifeishan commented on #73
This bug is actually a more general non-termination bug when executing SQL queries by a file. Fixed in https://github.com/HazyResearch/deepdive/pull/251.

[2015-04-07 03:31] #73 closed

[2015-04-07 05:09] zifeishan opened #254 "Open data format does not match walkthrough"
In http://deepdive.stanford.edu/doc/opendata/:

I looked at the Wiki data, and found that the data format for *dependency paths* is actually not the same as walkthrough right now. In opendata, dependencies are separated into `dep_label` and `dep_parent` while in walkthrough it's a collapsed format. There should be a tutorial on how to transform the data.

[2015-04-13 01:54] raphaelhoffmann opened #255 "plpy function signature on multiple lines fails"
This used to work:

    def run(doc_id, sent_id, start_position, length, mention_id, wordidxs, words, poses, ners, lemmas, dep_paths,
            dep_parents):
        import os
        import sys

Now, all parameters have to be on one line, otherwise plpy_extractor returns:

01:50:55 [Helpers$(akka://deepdive)] INFO  DROP VIEW
01:50:56 [Helpers$(akka://deepdive)] INFO  CREATE VIEW
01:50:58 [Helpe

[2015-04-13 03:29] raphaelhoffmann opened #256 "sampler running out of memory on ec-2 244GB mem instances"
Several of the memex extractors run fine on raiders, but not on ec-2's most powerful machines. See error below. Is it possible to use memory more efficiently?

03:13:51 [sampler] INFO  /home/ubuntu/stanford-memex/../deepdive/util/sampler-dw-linux gibbs
03:13:51 [sampler] INFO  Executing: /home/ubuntu/stanford-memex/../deepdive/util/sampler-dw-linux gibbs -w /scratch/tmp/graph.weights -v /scratch/t

[2015-04-13 03:30] raphaelhoffmann commented on #256
I can point to a running ec-2 instance with that issue for debugging.

[2015-04-13 03:32] #255 closed

[2015-04-13 03:34] raphaelhoffmann commented on #255
Duplicate of #252

[2015-04-17 17:58] #106 closed

[2015-04-21 23:08] zifeishan opened #258 "Inference table does not contain evidence variables"
In the sampler, the variables are divided into query (without supervision label) and evidence (with supervision label). Currently the sampler does not compute probability for evidence variables. (That's why #vars in the inference table does not equal to #variables in total.)

However In the context of distant supervision, users usually need to know the probability even for evidence variables, beca

[2015-04-24 05:07] nlothian opened #259 "make test fails"
Clean checkout of deepdive, doing `make test` fails.

[code]

[2015-04-24 05:10] feiranwang commented on #259
which branch are you using?

[2015-04-24 05:26] nlothian commented on #259
Head

[2015-04-24 05:31] feiranwang commented on #259
The problem is not in the sampler. The log info has `nfac : 0` and `nedge: 0`, which indicates the factor graph is not correct. Can you post the full log?

[2015-04-24 05:46] nlothian commented on #259
It's pretty long. See http://pastebin.com/un3A01j5

[2015-04-24 06:38] zifeishan opened #260 "Docs for using sampler argument -c (data copies)"
The sampler argument `-c` specifies #numa nodes used for sampling, i.e. data copies. Currently sampler would crash a 1TB memory machine (raiders1) on a 20GB factor graph with 4 data copies (default #data copies matches #NUMA nodes), but it works with 1 data copy. Is there an improvement space?

Some documentation should be given for tuning this parameter, either in the sampler guide, performance g

[2015-04-24 06:42] feiranwang commented on #259
line 3041 sh: 1: bc: not found
Sorry we should have written this clearly: Deepdive makes use of bash calculator bc. I think the problem will be gone if you install bc.

[2015-04-24 07:02] nlothian commented on #259
Thanks. That's looking better.

[2015-04-24 07:57] #259 closed

[2015-04-24 12:27] chrismre commented on #259
@netj @feiranwang We need to check for dependencies! This is a nasty, annoying bug!

[2015-04-24 22:43] tiangolo opened #261 "docs: little error in /doc/doc/advanced/ubuntu.md"
In `/doc/doc/advanced/ubuntu.md` it says that it's needed to modify the file `./test.sh` to set the postgre username and password, but those variables are located now in `./test/test_psql.sh`.

I'll submit a pull request with the fix.

Also, if you find it helpful maybe I could create an updated guide for Ubuntu 14.04.

[2015-04-27 00:55] nlothian commented on #259
gnuplot is also a dependency (though it doesn't seem to fail without it?)

[2015-04-27 14:27] netj commented on #259
Thanks for pointing out more dependency issues.  We'll get a fix out there that detects them earlier very soon.  gnuplot is currently used for rendering the calibration plot, and you simply don't get the images in the final output without it.

[2015-04-27 22:04] feiranwang commented on #260
It's under http://deepdive.stanford.edu/doc/basics/sampler.html

[2015-04-27 23:29] feiranwang opened #264 "FeatureStats table breaks using array in factor function"
@raphaelhoffmann and I found this problem. FeatureStats assumes the variables in factor functions are boolean, but they could be boolean arrays, which cause type mismatch.

[2015-04-28 01:17] raphaelhoffmann opened #268 "wrong results when passing array of variables to factor function"
I'm getting different output when passing variables to a factor function explicitly vs. as array. The results when using array are wrong.

Here's a simple example:
[code]

I'm expecting an expectation of ~0.5 for the unknown variable. When using the array version, the expectation is ~1.0.

[2015-04-28 01:19] chrismre commented on #268
@feiranwang @zhangce @netj Take a look please, and let's add in some regression here... :)

[2015-04-28 01:24] zhangce commented on #268
@feiranwang can you construct a unit test and check into the sampler repo?
I can fix the code as long as something fails.

Thanks!

Ce
On Apr 27, 2015 8:19 PM, "chrismre" <notifications@github.com> wrote:

[2015-04-28 02:33] feiranwang commented on #268
I'll look into it, and construct a test in deepdive.

[2015-04-28 03:43] feiranwang commented on #268
@raphaelhoffmann I tried to run your example, and the sampler gave me the same inference result (0.5).

However, I do find a bug that results in wrong number of variables for each factor. I'll fix that soon.

[2015-04-28 04:34] raphaelhoffmann commented on #268
@feiranwang I noticed that when you use the dw binary included with deepdive, it returns the correct result (0.5). However, when you compile the latest master version of the sampler repo and use that, it will return the wrong result (1.0). Here, I was using clang++ on MacOS for compilation.

[2015-04-28 06:06] feiranwang commented on #268
@raphaelhoffmann Sorry I wasn't able to reproduce that on my mac. Maybe try cleaning up before compiling by running make clean?

[2015-04-28 06:17] raphaelhoffmann commented on #268
@feiranwang Hmm, just ran make clean and recompiled – same problem. What compiler are you using?
I ran

    sudo port install clang-3.7
    sudo port select --set clang mp-clang-3.7
    CXX=/opt/local/bin/clang++ make

[2015-04-28 07:17] feiranwang commented on #268
@raphaelhoffmann I am using this `Apple LLVM version 6.1.0 (clang-602.0.49) (based on LLVM 3.6.0svn)`. I'll check in the fix I mentioned above and see if that is related.

[2015-04-28 20:06] raphaelhoffmann commented on #268
@feiranwang Thanks for the hotfix, this example seems to work now. However, some results are still surprising.

Change the data as follows:
[code]

Then look at the output:

[code]

The expectation should be ~1 for all variables.

[2015-04-28 20:19] feiranwang commented on #268
I'll check this.

[2015-04-28 20:41] chrismre commented on #268
@zhangce @netj Can you take a look at this too? Can we get some regressions?!?! :) We had some... they appear to be broken or not expressive enough...

Let's just track this down!

[2015-04-28 20:43] feiranwang commented on #268
I think I found the problem. I'll add test after fixing this issue.

[2015-04-28 21:11] feiranwang commented on #268
@raphaelhoffmann I fixed this in hotfix_array branch. Now the results should make sense. The results should be
[code]

[2015-04-28 21:47] chrismre commented on #268
Please make sure that we have regressions for each of the factor #s!

On Tue, Apr 28, 2015 at 2:11 PM, Feiran Wang <notifications@github.com>
wrote:

[2015-04-28 21:52] raphaelhoffmann commented on #268
It works great now. Thanks, Feiran!

[2015-04-28 22:16] brahmaneya opened #269 "Non-evidence values not being sampled during Learning phase"
Due to this line of code,
https://github.com/HazyResearch/sampler/blob/master/src/app/gibbs/single_thread_sampler.cpp#L45.

non-evidence values of variables stay fixed during the sampling phase. This causes problems in cases where we don't have training data for some types of variables. For example:
If we have variables A_i, B_i, C_i for i from 1 to 1000. And for each i, we have factors A_i = B_i

[2015-04-28 23:39] chrismre commented on #269
@zhangce take a look at this :)

[2015-04-28 23:53] feiranwang commented on #269
@zhangce I'll fix this.

[2015-04-28 23:54] zhangce commented on #269
@feiranwang can you check in the fix we did before for this and deploy the
binary? (I think you have the latest version of the patch for this
(~Feb~March))

Ce
On Apr 28, 2015 6:47 PM, "chrismre" <notifications@github.com> wrote:

[2015-04-29 00:03] feiranwang commented on #269
@zhangce Sure, I'll take care of it. Yes, we did this before. I found there's a bug in update function which will cause problem if we sample non-evidence variables. I'll fix it as well.

[2015-04-29 07:13] feiranwang commented on #269
Fixed in https://github.com/HazyResearch/sampler/commit/ca3e8d45ef1c1c7d8badd16f82eb02847118d744.

[2015-04-29 22:08] #269 closed

[2015-04-29 23:04] zifeishan opened #273 "extractorRunner hanging problem"
I am using develop branch:

[code]

Then it hangs there. I should have fixed it before... need to check.

[2015-04-30 13:18] chrismre commented on #269
@netj @feiranwang @zhangce Guys, this should have triggered a larger response... you should have a series of small regressions about learning parameters correctly (e.g., samples of 1000 coin flips, etc.) Where are these regression tests?

[2015-04-30 13:31] chrismre commented on #268
Great! Please make sure a suite of new tests are setup for this :)

[2015-04-30 17:45] feiranwang commented on #268
New tests will be merged soon.

[2015-04-30 17:47] feiranwang commented on #269
Currently we have biased coin test for boolean and CRF test for multinomial under https://github.com/HazyResearch/sampler/tree/master/test. @zhangce what other tests do you think can be added?

[2015-04-30 18:49] robinjia commented on #269
Chiming in because this bug affected me too...why don't we create a test corresponding to brahmaneya's example?  Or more generally some sort of latent variable model (maybe a simple HMM?) where every edge is connected to at least one node that is not observed.

[2015-04-30 19:15] zhangce commented on #269
We need some graph where there are hidden variables that do not have
evidence during learning.

A(evid) -- B(not evid) connected by factor (A==B)

You have training data
    1                  1
    1                  1
    1                  1
    1                  0

You should expect the factor has a weight ~1.09 (log 3) if B is sampled.

Otherwise, you should expect the factor has a very smal

[2015-04-30 20:29] netj commented on #273
Greenplum (`gpload`) seems to be not on PATH.  As there are so many environment variables that can go wrong, it may be a good idea to perform some form of runtime dependency check from Main.  A very limited check is done at build/install time by #266, but we'll need different checks based on what database is used.  These could be added as basic sanity checks for application.conf, e.g., checking th

[2015-04-30 23:26] netj opened #276 "Temporary table names should be generated independently"
In extraction and grounding, DeepDive creates temporary views and tables by extending user's names specified in application.conf.  Most DBMS have length limit, so this can cause problem when names become too long, e.g., #274.  We should fix relevant parts to generate temporary names completely independent from user's input, e.g., `_dd_tmp_1234567` instead of `very_very_very_very_long_user_table_na

[2015-04-30 23:30] zifeishan opened #277 "Cannot have multiple variable columns in a same table"
Currently DeepDive cannot allow multiple variable columns in one table, since different variables need to have different `id`s and each table only has one ID column. However this is not mentioned in the doc, and we even have examples that are wrong:

http://deepdive.stanford.edu/doc/basics/schema.html

http://deepdive.stanford.edu/doc/basics/configuration.html#inference_schema

We should at least

[2015-05-01 04:31] chrismre commented on #277
@zhangce @zifeishan @netj

How is this possible? When did this happen?

[2015-05-01 04:34] chrismre commented on #254
@zhangce Can we sync this up?

[2015-05-01 04:36] chrismre commented on #245
@netj has this been merged?

[2015-05-01 04:37] zifeishan commented on #277
@chrismre As I understand, this happens a long time ago, when we decided to do grounding by assigning an `id` column to each row in the variable table. Sampler would require different variables to have different `id`s, but it is not possible under the current grounding framework since each table that contain variables only have one `id` column.

[2015-05-01 04:38] chrismre commented on #277
Sure, but how did the docs get so far out of sync?!?

On Thu, Apr 30, 2015 at 9:37 PM, Zifei Shan <notifications@github.com>
wrote:

[2015-05-01 04:39] zifeishan commented on #277
I will fix the docs tonight.

[2015-05-01 04:41] chrismre commented on #277
@zifeishan let's wait for @netj to weigh in on the fixes. I'd like it if all the tutorials were in the examples directory and part of the tests.

@feiranwang This should also have some learning tutorial with simple results :)

[2015-05-01 04:54] zhangce commented on #277
I think we did not decide to add this constraint ("One variable columns in
a same table") due to whether our "grounding framework" can support it or
not :) -- If this constraint does not make sense, we should not alter the
semantic
just because it is easy to write grounding or the sampler...

I think the reason we made this decision is that we thought adding this
constraints will make it clear tha

[2015-05-01 04:59] feiranwang commented on #277
Sure, I'll check with Zifei.

[2015-05-01 05:34] netj commented on #277
I like Ce's reason behind the decision. This was a well known limitation among us but the docs weren't updated timely. Let's fix the docs asap and clearly state why we restrict to one variable per relation.

More importantly, I think this is a good time for us to go over the docs thoroughly to find and fix more discrepancies. Also as @chrismre suggests, let's make our docs more testable by integra

[2015-05-01 06:38] feiranwang commented on #269
Added partially observed variable test in https://github.com/HazyResearch/sampler/commit/9296be214f40acda711d84ff4045154deccc5f2d.

[2015-05-02 15:34] zhangce commented on #254
Sorry for the lack of update there.

The Wiki, BHL, PLOS are updated to the correct format. BMC and PMC
will be updated ETA before Wednesday (Usually couple days just to copy
a data set to the Web server).

Ce

[2015-05-05 02:44] zifeishan opened #280 "Restart DeepDive from a "checkpoint""
Currently when DeepDive quits during grounding or sampling, we do not have the ability to recover from a near point the next time it runs. The closest thing we can do is restarting the whole grounding, or using "relearn_from" parameter to restart from the grounded factor graph.

Following features should make recovering easier:

1. If DeepDive quits during grounding, next time it executes it can r

[2015-05-13 05:55] raphaelhoffmann opened #282 "high variance in output of sampler"
We have several reports of high variance in predictions and learned weights between multiple runs (observed by Toshiba, 341 team, and myself).

We want to fully understand what is causing this and how to best deal with it.

[2015-05-13 06:02] raphaelhoffmann opened #283 "lower performance when sampling all variables vs just evidence variables"
There are some reports that the new version of the sampler which uses both query and evidence variables may yield worse results than the previous version which uses only evidence variables.

We want to
1. verify that this problem indeed exists by collecting one or more small examples that reproduce this
2. fully understand why this is happening
3. come with a plan to fix this (bug in sampler? incr

[2015-05-13 06:45] raphaelhoffmann opened #284 "sampler test cases"
Currently, the test cases for the sampler use binary files as input which makes it difficult or impossible to understand and edit test cases. It would be great if we had a compact, readable, and self-contained text representation (eg. Alchemy format with atoms, predicates, weights).

Across different test cases, we then want to keep all parameters fixed except for the issue that we are testing. Eg

[2015-05-13 06:53] zhangce commented on #284
@netj draws a similar point in https://github.com/HazyResearch/sampler/commit/9296be214f40acda711d84ff4045154deccc5f2d#commitcomment-11008261 that we could easily use the "format-converter in DeepDive" to produce the binary given a text input. I think this should be pretty easy to do (maybe also with the Bats thing for testing that @netj used in that ticket?)

Ce

[2015-05-13 08:04] raphaelhoffmann commented on #284
That sounds great, that solves the issue!

Longer term, we may still want to switch to an even more readable representation. I think the text format is still pretty hard to parse for a human, especially when compared to the Alchemy format, but I think for now it's great.

Another minor point: I like using a testing framework that is less complex than C++, but we are now using 4 different testing f

[2015-05-13 23:31] raphaelhoffmann commented on #283
Some experimentation on the spouse example. Here I'm keeping the factor graph fixed and also the parameters to the sampler (-l 300 -s 1 -i 500 --alpha 0.1). The question is hot the commit on April 29th to the sampler repo affects results.

After commit ca3e8d45ef1c1c7d8badd16f82eb02847118d744
INFERENCE CALIBRATION (QUERY BINS):
PROB BIN 0.0~0.1  -->  # 65023
PROB BIN 0.1~0.2  -->  # 11
PROB BIN 0.

[2015-05-14 00:55] #268 closed

[2015-05-14 01:02] feiranwang commented on #283
Partial results: the weights do not look correct. There are very large weights (~30) and very small weights (~-30).

[2015-05-14 01:38] raphaelhoffmann commented on #282
I did some measurements of variance on the simple spouse example (/deepdive/examples/spouse_example). In each case, I ran 20 iterations of the sampler using the default settings.

I tried both the sampler before April 29th (old) and the sampler after April 29th (new). Zifei also suggested to try switching the symmetry factor (Equal(A,B) with learned weight) on and off. Below are variance of expect

[2015-05-14 01:39] raphaelhoffmann commented on #283
Hey Feiran,
I just added a few more results on variance which might help with debugging:
https://github.com/HazyResearch/deepdive/issues/282
Raphael

On Wed, May 13, 2015 at 6:02 PM, Feiran Wang <notifications@github.com>
wrote:

[2015-05-14 03:24] feiranwang commented on #283
@raphaelhoffmann Thanks! That's helpful. I also observed similar issues with the new sampler. I'll start from debugging logistic regression (without symmetry rule).

[2015-05-14 03:34] raphaelhoffmann commented on #282
@feiranwang Here are some numbers on the Chunking Example. This example has 3 factors: 1. logistic regression, 2. linear chain CRF, 3. skip-chain CRF. All weights are learned.

Details below, but the high-level message is that the results are largely consistent with the previous experiment.

(The only surprise is that adding skip-chain CRF factors reduces variance in both cases !?)

**old sampler,

[2015-05-15 17:38] zhangce commented on #282
@feiranwang What changes have been done on Apr 29?

@raphaelhoffmann For the spouse example, does the old sampler (the one with lower variance) produces the "same quality" result as the "new sampler"?

Ce

[2015-05-15 17:43] feiranwang commented on #282
@zhangce Here is the commit https://github.com/HazyResearch/sampler/commit/ca3e8d45ef1c1c7d8badd16f82eb02847118d744. The change is sampling all variables during learning.

[2015-05-15 17:50] zhangce commented on #282
@feiranwang I am confused by this code.

The learning works as follows. There are two set of possible worlds, one contains
all possible worlds that are consistent with the evidence (call it I_e), another are
free to choose values on evidence values (call it I).

The goal of learning is to make sure the expectation of factors matches between I_e and I.

Therefore, we need to draw samples from I_e a

[2015-05-15 18:09] feiranwang commented on #282
@zhangce I think the code follows the above procedure. Case 2 is reflected in https://github.com/HazyResearch/sampler/blob/master/src/app/gibbs/single_thread_sampler.cpp#L50.

If v is not evidence, we flip it in I_e (line 50 - 66), and flip it in I (line 68-77), and update weight.

[2015-05-15 18:34] zhangce commented on #282
@feiranwang ah sorry, I understand it now.

How are the weight being initialized now? Random?

Ce

[2015-05-15 18:39] feiranwang commented on #282
@zhangce They're all initialized to 0 for unknown weights.

Do you think it makes sense in case 2, we flip the variables, but do not use them to update weights, since they do not give information about the weights? Maybe we can talk in more detail.

[2015-05-19 10:21] #245 closed

[2015-05-19 18:40] #284 closed

[2015-05-22 02:42] abresler opened #294 "Make Test Postgres Issue"
When I try running the make test I am getting a password request when there shouldn't be one.  I have tried my passwords for my Postgres servers and those don't work either.  Any idea how to work through this?

[2015-05-22 02:54] chrismre commented on #294
@netj @zhangce @feiranwang Can you take a look at this?

[2015-05-22 02:59] netj commented on #294
@abresler Could you elaborate on how you installed Postgres?  You need to set `PGUSER` and `PGPASSWORD` environment variables correctly.  You're perhaps trying your password with the wrong `PGUSER` or don't have an account set up in Postgres yet in this case.

[2015-05-22 03:01] abresler commented on #294
Brew install postgresql

[2015-05-22 03:25] netj commented on #294
Did you set up anything besides running `postgres -D /opt/homebrew/var/postgres`?  Does `psql -l` show you a list of databases?

If standard stuff all fails, you can use `initdb /var/tmp/dd.db` to create a new home for your database and start postgres with `postgres -D /var/tmp/dd.db` where /var/tmp/dd.db can be any path you want to store the data.

[2015-05-24 18:01] chrismre commented on #294
did we get any closure on this? I think brew install doesn't automatically createdb appropriately, perhaps we can add a note about this in the docs?

[2015-05-24 18:01] chrismre commented on #283
Is this closed?

[2015-05-24 18:02] chrismre commented on #282
This is open in two issues. Closing this one.

[2015-05-24 18:02] #282 closed

[2015-05-24 18:02] chrismre commented on #280
I love this! Please add this to the plans for 0.06.1 release (the maintenance release after DDLog)

[2015-05-24 18:03] chrismre commented on #277
So can we close this issue? Are the docs up to date?

[2015-05-24 18:04] chrismre commented on #226
Is this fixed?!

[2015-05-24 18:10] abresler commented on #294
Clean reinstalled and got it working sorry about that!  Video or screen
cast on setup could be super helpful though

----------------------
Alex Bresler
abresler@asbcllc.com
​www.asbcllc.com​
917-455-0239​ (cell)​
On May 24, 2015 2:01 PM, "chrismre" <notifications@github.com> wrote:

[2015-05-24 18:12] chrismre commented on #294
Makes sense! We are thinking of a few screencasts... we just have to wait
for summer for our day jobs to simmer down!

On Sun, May 24, 2015 at 11:10 AM, Alex Bresler <notifications@github.com>
wrote:

[2015-05-24 18:15] feiranwang commented on #226
We discussed this could be an akka issue. I wasn't able to reproduce this issue since we discussed, and looking through travis, this one didn't happen in last two months.
@adamwgoldberg are you still having this issue?

[2015-05-24 18:41] abresler commented on #294
You have no idea how amazing that would be, the wild west of sports data
science is eagerly awaiting, been talking up deepdive because from what
I've been able to tell this could be a game changer in the space.

Keep up the great work everyone.

----------------------
Alex Bresler
abresler@asbcllc.com
​www.asbcllc.com​
917-455-0239​ (cell)​
On May 24, 2015 2:12 PM, "chrismre" <notifications@github

[2015-05-25 01:29] chrismre opened #297 "PostgresXL Support Docs"
Can we put up some alpha docs about using PostgresXL? Seems like people like it :) @raphaelhoffmann

[2015-05-25 08:32] netj commented on #294
Thanks!

[2015-05-25 08:32] #294 closed

[2015-05-25 08:38] netj commented on #264
Where are we using FeatureStats table?  Unless maintaining this table after every run saves majority of apps time for some set of well-defined frequent tasks, let's drop it from DD and move it to Braindump or Dashboard.

[2015-05-25 08:44] netj commented on #261
Taken care by #262.

@tiangolo An updated guide for Ubuntu 14.04 sounds great!  Thanks!

[2015-05-25 08:44] #261 closed

[2015-05-25 09:29] netj commented on #260
Did you figure out why the crash was happening?

[2015-05-25 09:56] netj commented on #258
@feiranwang I thought this was now possible through a sampler option, no?  Maybe I'm confusing with #271?

[2015-05-25 10:02] netj commented on #231
It should be easier to write a Docker-compatible or environment-neutral tutorial after removing many hard coded pathnames from our examples.

[2015-05-25 10:04] netj commented on #239
The path issue here seems to be corrected when #245 was fixed.

[2015-05-25 10:04] #239 closed

[2015-05-25 10:06] netj commented on #254
@zhangce Was this all taken care of?

[2015-05-25 10:11] netj commented on #211
This sounds very similar to #280.

[2015-05-25 10:11] #211 closed

[2015-05-25 10:23] netj commented on #200
@feiranwang Can you fix the pdf? The right link seems to be http://deepdive.stanford.edu/doc/basics/inference_rule_functions.html with `basics/` in between.

[2015-05-25 10:25] netj commented on #121
Seems like it was a temporary TravisCI issue.

[2015-05-25 10:25] #121 closed

[2015-05-25 10:29] netj commented on #3
We now have [ddlib](http://deepdive.stanford.edu/doc/basics/gen_feats.html) for text-based apps.

[2015-05-25 10:29] #3 closed

[2015-05-25 10:33] netj commented on #2
Unless there's a concrete example that needs this demultiplexing, this sounds like unnecessary complexity.

[2015-05-25 10:33] #2 closed

[2015-05-25 10:40] netj commented on #82
Probably fixed by #251 which adds a flag `psql -v ON_ERROR_STOP=1` to stop on error.

[2015-05-25 10:40] #82 closed

[2015-05-25 10:42] netj commented on #9
This is perhaps done by #251, which runs with flag `psql -v ON_ERROR_STOP=1`.

[2015-05-25 10:42] #9 closed

[2015-05-25 10:43] netj commented on #83
Probably fixed by #251, which stops on SQL error.

[2015-05-25 10:43] #83 closed

[2015-05-25 11:01] netj commented on #116
Superseded by #236

[2015-05-25 11:01] #116 closed

[2015-05-25 11:17] netj commented on #258
It seems sampler's sample_evidence branch has the code: https://github.com/HazyResearch/sampler/commit/b721e65060a50f9d71500c7d2ff118e8d90bfa01#diff-bcc8c161c87b19685947789ac42e9fe9R32 @feiranwang Could you bring the binary here, also documenting the sampler option?

[2015-05-25 11:21] netj commented on #31
Duplicate of #1

[2015-05-25 11:21] #31 closed

[2015-05-25 11:32] netj commented on #39
This is done by #207 or more specifically: ff36cdc07b0a1573b01b24dc21d9eb822f0a8d45.

[2015-05-25 11:32] #39 closed

[2015-05-25 11:36] netj commented on #238
@feiranwang Wasn't this also fixed somewhere in sampler?  Could you get that merged with the code for #258 as well as any other sampler related ones, then bring the final binary in?

[2015-05-25 12:08] netj opened #298 "Bring in ddlog compiler"
* [x] Add ddlog as a submodule. 0ae0cdb4960231568e4682e327bc1f48d3d6d950
* [x] Modify Makefile to build standalone jar. 0ae0cdb4960231568e4682e327bc1f48d3d6d950
* [x] Add a prebuilt standalone jar at util/ddlog.jar.
* [x] Add a new documentation page about writing applications in DDLog. 9794ac96a26aa7a5019e23193f53d9cb84f7a160

[2015-05-25 12:15] netj commented on #297
@raphaelhoffmann @alldefector Adding a brief introduction page how to use PostgresXL with DeepDive would be awesome for our upcoming release.  Seems like [doc/doc/advanced/postgres-xl.md](https://github.com/HazyResearch/deepdive/new/master/doc/doc/advanced) is a natural place?  It probably doesn't have to be as detailed as [Greenplum's](https://github.com/HazyResearch/deepdive/blob/master/doc/doc/

[2015-05-25 12:30] netj opened #299 "Release 0.6.0"
* [x] Bring latest docs from master to develop: f01a4cbf744f5211683e51a1ce8036788b5cbb12
* [x] Forward port any hotfixes in master not applied to develop. 9b1425b37daf9edcb9ef60a45860072dc466791d
* [x] Merge all pending issues and pull requests into develop.
* [x] Add a changelog page.
* [x] Update version number in the website banner image.
* [x] Bump version in build.sbt and Main.scala.
* [x] Me

[2015-05-25 13:05] netj opened #300 "Support incremental runs"
* [x] Finish code in sen_incremental branch.
* [x] Add a way in application.conf or deepdive command-line option to specify what to materialize as active ids.
* [x] Add example how to use ddlog compiler (that'll be added by #298) to generate the incremental version.
* [x] Add test that checks the incremental version actually works.
* [x] Document exactly how user can manage incremental runs with a

[2015-05-25 19:38] feiranwang commented on #264
It's in SQLInferenceRunner. It has been commented out in develop branch. I agree we should drop it and move it to braindump or dashboard. @zifeishan

[2015-05-25 19:48] feiranwang commented on #258
It's different from #271 as this is for inference results. This feature is added in sample_evidence branch, I'll add it to release.

[2015-05-25 19:49] feiranwang commented on #238
Sure. That's what I'm thinking. I'll prepare samplers that include all these fixes for release.

[2015-05-25 19:51] feiranwang commented on #200
The link seems to be fixed already. It links to a crappy tutorial I wrote...

[2015-05-25 20:15] raphaelhoffmann commented on #297
Added pull request for PostgresXL documentation #301

[2015-05-25 20:26] raphaelhoffmann opened #302 "Unify automated installs"
We currently have automated installs in the form of
* vanilla bash scripts
* Dockerfile scripts
* AMIs
* Virtualbox (for impala)

The problem is that it is hard to keep these up-to-date.

I suggest we drop support for Docker/AMIs/Virtualbox. Instead, we'll only have three bash install scripts:
1) install_with_pgxl.sh
2) install_with_pg.sh
3) install_with_greenplum.sh

Running one of these on an Ub

[2015-05-25 23:37] chrismre opened #303 "Coverall"
Looking at where we're missing on the coveralls, they seem pretty easy... it's a lot of malformed input stuff, etc.) We should make sure we handle failures gracefully... I know everyone is busy, but it highlights for us a bunch of easy to fix tests.

To be concrete, it looks like we can get into the high 80s or low 90s with a code cleanup pass.

@SenWu is probably in charge of some of this? and I

[2015-05-26 04:07] netj commented on #200
No, please fix the broken link to inference_rule_functions.html in the second page of the pdf.

[2015-05-26 04:13] netj commented on #264
I see it's commented out by https://github.com/HazyResearch/deepdive/commit/d1f8449ef990a378cde0e6f763bebd8167f821db#diff-e754f8521322016721729d620efbe663.  @zifeishan Could you create a PR that removes the relevant code if you have no objection?

[2015-05-26 05:19] netj opened #304 "Shippable error"
Shippable checks for every pull request has been marked as failure since a long time ago.  @adamwgoldberg Can we just disable this, or is it anyhow related to shipping Docker containers?  I checked the cause (which was non-trivial, not just a click), and it seems some `gem install` command in our travis.yml needs `sudo`, which isn't necessary for TravisCI.  If Shippable is just running the same te

[2015-05-26 17:57] feiranwang commented on #200
ok I see

[2015-05-26 18:01] feiranwang commented on #283
Using a smaller step size we can get similar distributions as before. @zhangce do you think this is still an issue?

[2015-05-26 21:03] #200 closed

[2015-05-30 00:09] netj commented on #302
This is a great idea.  I totally agree we should move towards this direction to reduce the maintenance burden.  I'll include new instructions in this release if you could share the scripts you have.

[2015-05-30 00:21] raphaelhoffmann commented on #302
Thanks – that's great. I just checked some scripts into branch
raphael-script.

You might want to adjust the scripts a bit.

The raw urls which you suggested work fine, eg.

curl -s
https://raw.githubusercontent.com/hazyresearch/deepdive/raphael-script/util/script/dduser_dd.sh
| bash

On Fri, May 29, 2015 at 5:09 PM, Jaeho Shin <notifications@github.com>
wrote:

[2015-05-30 01:00] #277 closed

[2015-05-30 01:01] #258 closed

[2015-05-30 01:01] #238 closed

[2015-05-30 01:30] netj commented on #304
@adamwgoldberg It seems your shippable-branch contains a working shippable.yml.  However, I'm questioning why we need Shippable in addition to Travis.  Please comment on why we need Shippable if there's a straightforward reason. (maybe in connection to Docker?)

One nice part I see is Shippable gives a good summary on failed tests/assertions in Scala code.  However, if it doesn't provide any real

[2015-05-30 03:09] raphaelhoffmann commented on #302
@netj I cleaned up the scripts. The new installer works great.

Get an ec-2 instance with Ubuntu 14.04 and 100GB boot volume. Then run

curl -s https://raw.githubusercontent.com/hazyresearch/deepdive/raphael-script/util/script/entry.sh | bash

Could you link http://deepdive.stanford.edu/install to above script?

[2015-05-30 03:29] netj commented on #302
Very nice!  I added a temporary redirect to the website for /install.  It should be updated to point to the master branch upon release, but we can test things with your branch for now.  I think it's better to use raw.github.com instead and add `curl -fsSL`.

[2015-05-30 05:52] netj commented on #302
I think ultimately we want to use the same installation scripts for Travis or Shippable tests as well.  Currently, variants of these build/runtime dependency check+installation commands exist all over the place (Makefile, lib/dw_extract.sh, lib/check-depends.sh, .travis.yml, Dockerfile, and now a new set of install scripts!).  Besides, DeepDive doesn't have a clear distinction between source and s

[2015-05-30 08:12] raphaelhoffmann commented on #302
Sounds great. I agree that the testing frameworks can also be based on the same scripts. For my use cases, I'm actually fine with building the sources from scratch for every install. Our code base (develop) is changing so frequently that a pre-built image often won't work for me. I think it would be great to make the script better to show helpful error messages, allow fully automated mode, check a

[2015-05-30 11:39] netj commented on #8
By having a robust universal installation method, our AMIs will be deprecated.  See #302.

[2015-05-30 11:39] #8 closed

[2015-05-31 05:09] #264 closed

[2015-05-31 05:27] netj commented on #304
Now, #311 will clear the Shippable error on our side, but tests using `COPY FROM` keeps failing due to their limitation (Shippable/support#1503).

[2015-05-31 07:04] adamwgoldberg commented on #304
Right, the original reason was to have performance testing on known hardware. I think that's something we can table for now. I'll remove it now.

[2015-05-31 07:09] netj commented on #304
I see.  Perf testing sounds like a compelling reason to keep container-based tests.  But for now, yeah let's turn it off if you can.

[2015-05-31 07:17] adamwgoldberg opened #313 "Performance testing using shippable/docker"
Alternatively, one could find another platform.

[2015-05-31 07:17] adamwgoldberg commented on #304
Turned it off. Opened #313 as well.

[2015-05-31 07:17] #304 closed

[2015-05-31 07:19] netj commented on #304
Thanks.  Did you just remove repo hooks from GitHub, or something else from Shippable?  It wasn't very clear to me how to turn it off.

[2015-05-31 07:21] adamwgoldberg commented on #304
I disabled the project on shippable.com and removed the repo hooks. I
suppose you didn't have access to the shippable login. Whoops. :)

On Sun, May 31, 2015 at 12:19 AM Jaeho Shin <notifications@github.com>
wrote:

[2015-05-31 07:22] netj commented on #304
That explains.  Thanks!

[2015-06-01 07:21] #302 closed

[2015-06-02 02:23] adamwgoldberg commented on #226
I couldn't reproduce this after a couple of attempts, but that doesn't mean it's fixed necessarily. I recall the failure rate was pretty low (1 out of 10 or lower). I'm fine closing the issue if others aren't concerned–if someone else sees it again we at least know the fix.

[2015-06-02 08:48] netj commented on #260
The crash seemed to be a hardware issue (raiders1, right @zifeishan?).  The doc about the option could be expanded, but if the default is reasonable discussion about tuning seems unnecessary.  Will close this for now.

[2015-06-02 08:48] #260 closed

[2015-06-03 06:48] #297 closed

[2015-06-03 19:48] minafarid opened #316 "Running DeepDive without learning"
In the `has_spouse` example, I ran the whole pipeline, including learning, inference, etc., and the weights of the features are learnt and stored in `dd_inference_result_weights_mapping`
Is it possible to use the learnt features to classify new `has_spouse` candidate tuples without re-running the inference part? In other words, can DeepDive use the learnt model (features and their weights) to clas

[2015-06-04 02:24] chrismre commented on #316
Hi Mina,

Should be! @feiranwang cc: @netj. We're pushing for a release right now, so it may be a small delay until they can respond. We'll get back to you soon! All the best, Chris

[2015-06-04 02:48] feiranwang commented on #316
This feature is available in develop branch right row. You can search `skip_learning` in the doc folder. There are some documentation about how to use learned weights to make new predictions. More details will come out soon.

[2015-06-04 02:51] minafarid commented on #316
Thank you!

[2015-06-04 02:51] #316 closed

[2015-06-04 21:08] netj commented on #303
Increasing test coverage will happen in the next release.

[2015-06-09 22:42] raphaelhoffmann commented on #241
Fixed.

[2015-06-13 11:57] netj commented on #300
Done by 935957dd4b1f25fb085aa8723057fd2e76cf6200

[2015-06-13 11:57] #300 closed

[2015-06-13 11:57] #298 closed

[2015-06-15 11:55] netj opened #323 "Provide a proper `deepdive` command that operates on a clearly defined standard layout for apps"
* [x] Clean up sampler's `LD_LIBRARY_PATH` mess with a wrapper script #327
* [x] Define a standard layout for DeepDive apps:
    * application.conf
    * db.conf
    * udf/
* [x] Add a `deepdive` shell command that
    * sets `APP_HOME` by recognizing the top of a standard layout DeepDive app
    * sets `DEEPDIVE_HOME` to the source tree based on the path of itself
    * takes care of `PYTHONPATH`

[2015-06-15 11:57] netj opened #324 "Separate executable code for distribution clearly from source code"
* [x] Use sbt assembly to build a standalone deepdive.jar
* [x] Update `deepdive` to run the jar instead, so sbt's startup delay no longer wastes everyone's time
* [x] Update `deepdive` command to use the staged layout where the jar, util, and lib instead of the source tree
    * [x] Clean up _mac/_linux, -mac/-linux executable naming mess by using identical command names but keeping them under a

[2015-06-15 12:05] netj opened #325 "Improve Tests"
* [x] Rewrite integration tests (out of Scala) in bash/bats to directly test the actual examples
    * [x] Bring [Bats](https://github.com/sstephenson/bats) in as submodule
* [x] Make sure tests can run with instrumented classes for test coverage instead of standalone jar
* [x] Make it easy to run different tests selectively without commenting out anything
* [x] Make it easy to switch backend data

[2015-06-17 16:45] chrismre commented on #299
Any updates here? :)

We do need a pass on the text of the website too!

[2015-06-17 17:06] netj commented on #299
This was pending on one last bug in the sampler's incremental mode with NUMA.  @zhangce and I just decided we can go ahead with the release and follow up with a patch soon.

Yes, the website pass can be done anytime.  Any particular parts you want revision?  The new branching policy we'll use makes it easier as the latest code as well as the website kept in master--currently any change made to web

[2015-06-17 17:08] chrismre commented on #299
Ok, that's fine. Why isn't the patch just done? I'd prefer to release all
at once...

Also, can I play with some ddlog examples :)

On Wed, Jun 17, 2015 at 10:06 AM, Jaeho Shin <notifications@github.com>
wrote:

[2015-06-17 17:17] netj commented on #299
It seems the bugfix for HazyResearch/sampler#10 may take a day or two, and the delayed release has been a blocker (mostly mentally) so I wanted to move on to the next things.  However, we can still wait for the patch and mark the release.  Either way is actually fine.

[2015-06-17 17:21] chrismre commented on #299
No that's fine. Go ahead with the release, and let's get a list of what's
next!

On Wed, Jun 17, 2015 at 10:17 AM Jaeho Shin <notifications@github.com>
wrote:

[2015-06-17 17:28] netj commented on #299
Sure.  There's already a rough sketch I made a while ago in the [Milestones tab](https://github.com/HazyResearch/deepdive/milestones), but we can definitely revise this–perhaps splitting into two? 0.7.0 for the cleanups with easy NLP and 0.8.0 for the rest.  More concrete issues can be created to guide individual tasks as I'm already doing for my cleanup.

[2015-06-17 17:31] chrismre commented on #299
Sounds good. I would quibble that those should be 0.6.1 and 0.6.2 :)

On Wed, Jun 17, 2015 at 10:28 AM, Jaeho Shin <notifications@github.com>
wrote:

[2015-06-17 17:39] netj commented on #299
I don't like quickly growing version numbers either, but at least I agree with the [Semantic Versioning](http://semver.org) telling us to keep the last number for patching previous releases.  For example, when we patch the known bug in sampler a week later, I think it's simpler to give 0.6.1 to it instead of 0.6.0.1 or so, and use 0.7 for the next milestone.

[2015-06-17 17:42] chrismre commented on #299
I would argue that the 0.x is meant to signify we are research software not
ready for release, so just prepend that. :)

On Wed, Jun 17, 2015 at 10:39 AM, Jaeho Shin <notifications@github.com>
wrote:

[2015-06-17 18:35] #107 closed

[2015-06-17 18:56] netj commented on #283
Because of this issue, @feiranwang introduced the `--learn_non_evidence` option for the 0.6.0 release, turned off by default, to prevent users from seeing a sudden drop in their quality.  We should fix the quality issue in the correct approach and get rid of the option in the next release.

[2015-06-18 02:56] #299 closed

[2015-06-18 20:07] raphaelhoffmann commented on #241
I noticed that this is only fixed for some cases. For example, if the schema in the plpy function doesn't match, or if the plpy UDF doesn't compile, the system will still report success and continue processing. Eg.

[code]

[2015-06-18 20:31] raphaelhoffmann commented on #241
Problem was environment pointed to a different version of deepdive. Everything works fine on master branch.

[2015-06-18 20:31] #241 closed

[2015-06-20 18:11] chrismre commented on #204
Is this fixed?!?

[2015-06-23 08:04] netj opened #329 "Refactor Scala code"
1. Remove clutter from Scala
    * [ ] Rewrite calibration plot generator in a separate post-processing script and remove org.deepdive.calibration._
    * [ ] Remove org.deepdive.settings.models._ and have the rest of the code use Config.get* directly as much as possible
    * [x] Rewrite SettingsParser.scala to simply validate and fallback to default values for
        * [x] db.default, schema, c

[2015-06-23 08:08] netj opened #330 "Each page of the website should have its own title set correctly in `<title>`"
Currently, all pages have the same `<title>` as DeepDive, making it impossible to navigate through browser history.

[2015-06-23 11:32] chrismre commented on #329
+1

[2015-06-29 20:22] netj opened #332 "Website looks weird on mobile browsers"
We should try to strip most of our unnecessary custom CSS and rely on Bootstrap's responsive layout stuff.

Here's a report from Frank McSherry:

[2015-07-11 08:44] netj commented on #226
Intermittent hanging became more regular after refactoring the tests, and I believe 0bc74f20e9d5fac0a05801b21fbb7a3810ddfcc4 fixes this issue.

[2015-07-11 08:44] #226 closed

[2015-07-11 08:46] netj commented on #242
The new `deepdive` command uses a fresh output directory for every run, basically isolating each run's tmp dir from each other. https://github.com/HazyResearch/deepdive/blob/270a74b8ba7b5e1c1bbb0b87af2e4983ae28ecff/shell/deepdive-run

[2015-07-11 08:46] #242 closed

[2015-07-14 22:45] #323 closed

[2015-07-14 22:45] #325 closed

[2015-07-14 22:45] #324 closed

[2015-07-14 23:24] netj opened #335 "Update extractors doc"
https://github.com/HazyResearch/deepdive/blob/master/doc/doc/basics/extractors.md

* [ ] relative paths when possible
* [x] move deprecated ones to the bottom

[2015-07-14 23:36] netj opened #336 "Update documentation TOC"
We need to reorganize the table of contents for the documentation.
* Many items in Basics seem too Advanced.
* Tutorial should come right after Background.
* Many shorter pages should be merged into larger ones or simply rewritten into a section in FAQ.
* Each group can have more structure: one for various database backends, another for references, etc.
* We can get rid of basics/ and advanced/ un

[2015-07-14 23:39] netj opened #337 "Update/remove performance tuning page"
https://github.com/HazyResearch/deepdive/blob/master/doc/doc/advanced/performance.md

* [x] Use `deepdive.conf` instead of `application.conf`
* [x] Use the new `deepdive` command instead of `sbt`
* Perhaps `gpfdist` stuff belongs to the [Greenplum page](http://deepdive.stanford.edu/doc/advanced/greenplum.html) and should be removed?
* Then the rest are not so useful, and the whole page may be remo

[2015-07-14 23:44] netj opened #338 "Add Dashboard documentation"
* [ ] Rewrite [BrainDump section in walk-through page](http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough-improve.html#braindump) with Dashboard (Mindbender).
* [ ] Add a full documentation page dedicated for describing Dashboard features.

[2015-07-14 23:48] netj opened #339 "Update deepdive.conf documentation"
https://github.com/HazyResearch/deepdive/blob/master/doc/doc/basics/configuration.md

* [x] Revise Database connection section, which is optional now.
* [x] extractors section seem overlapping a lot with the extractors page.

[2015-07-15 17:01] abresler opened #340 "Newest Version Post Curl Install Test"
Team, first off congrats on all the great progress and recent improvements.  Recently cleared and reinstalled the newest push and was wondering if there were new parameters to test the install akin to the old make test.  Also wondering how we can go about re doing the base spouse test or if there was a new tutorial you could point?

Great work, this is a very special project that can change a lot

[2015-07-15 17:20] netj commented on #340
Thanks for your input!

For the moment, there's no test we prepared for the binary installation, but this is an important point we missed, and we'll add an easy way to test very soon.

The [tutorial pages](http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough.html) have all been revised with the [new, cleaner app structure and command-line interface](http://deepdive.stanford.edu/doc/adva

[2015-07-30 03:16] zifeishan opened #343 "PostgresXL assignID is slow"
When using PostgresXL, assignID is the bottleneck for grounding. It appears to me to be single-threaded. It should be done in parallel within each segment.

[2015-07-30 21:49] zifeishan opened #345 "DeepDive install: using variable hostname"
[code]

When the machine's hostname is not properly set, `make install` yields the above error.
Removing the line in https://github.com/HazyResearch/deepdive/blob/master/util/generate-build-info.sh#L14  seems to work.

[2015-07-30 21:58] zifeishan opened #346 "DeepDive v0.7.0 is backward incompatible"
@netj  Now one cannot run "deepdive -c application.conf -o output_dir".

For an application with previous versions, what should a user do to make the application compatible? One might have different configuration files for an application.

[2015-07-30 22:01] zifeishan commented on #343
It turns out I am using a version without XL integration.

[2015-07-30 23:32] netj commented on #346
You're right.  v0.7.0 introduced big changes, but that's why the version number was bumped.  It is strongly recommended to reorganize your code according to [the new standard app layout](http://deepdive.stanford.edu/doc/advanced/deepdiveapp.html) to use the latest version because a lot of other features will assume it.

However, for the moment, I believe you can rewrite the command as follows, sim

[2015-07-30 23:35] #345 closed

[2015-07-30 23:38] netj commented on #343
@zifeishan Could you confirm if this is still an issue with the latest and close otherwise?

[2015-07-30 23:59] zifeishan commented on #343
Starting from release v0.6.0, the speed is acceptable.

[2015-07-30 23:59] #343 closed

[2015-08-06 21:16] kconor opened #349 "deepdive run doesn't report an error when extractor dependencies are misspelled"
It's more or less a silent failure.  The only indication in the logs is order in which the extraction manager executes the extractors.

[2015-08-06 21:17] chrismre commented on #349
@netj I thought this was fixed some time back... Also Kevin are you using ddlog? This takes care of building the dependencies for you... @feiranwang is that tutorial up?

[2015-08-06 21:20] kconor commented on #349
No, I'm following http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough.html.

[2015-08-06 21:41] netj commented on #349
@chrismre Unfortunately, not yet. You're probably remembering a fix for the pipeline. #329 is supposed to fix all these nasty glitches, but other priorities have been slowing down its progress.  I'll see if I can quickly get some important pieces done first to prevent these issues.

@kconor Sorry, the dependencies config isn't reliable!  For the moment, please specify all extractors in the pipelin

[2015-08-06 21:42] feiranwang commented on #349
FYI, ddlog tutorial is on http://deepdive.stanford.edu/doc/basics/ddlog.html.

[2015-08-10 08:16] #346 closed

[2015-08-10 08:19] feiranwang opened #350 "Mysql spouse example test sometimes fails"
As stated in the title. Looking into it.

[2015-08-10 18:58] ajratner opened #351 "Separate initdb command / flag for input data vs. extractions schemas"
This is minor / low-priority, but it's convenient to be able to e.g. add a new entity type or otherwise tweak the schema, and then run something like initdb, without also dropping the sentences table say...

[2015-08-10 20:51] chrismre commented on #351
This should have been fixed a long time ago... @netj @feiranwang ... :)
Let's get it done!!!

On Mon, Aug 10, 2015 at 11:58 AM, Alex Ratner <notifications@github.com>
wrote:

[2015-08-10 22:16] netj commented on #351
Sounds like a great suggestion!  Admittedly, the current initdb command that literally initializes the whole database is not very friendly to such incremental changes.  It was the best abstraction at the moment given the opaque schema.sql and setup_database.sh-style scripts most apps were using.  Ideally, I think DeepDive should have more visibility into the database schema to provide finer graine

[2015-08-11 04:16] mcfrank opened #352 "installation instructions don't work on os x"
So I'm trying to install from the instructions on the installation page on os x 10.10.4. I can install binaries only (option 2), but installing the dependencies throws an error. option 1 (full install) gives:

`## Failed installation for _deepdive_runtime_deps`

without any more verbose errors. From source gives me:

`make: *** No rule to make target `install'.  Stop.`

At first we were thinking t

[2015-08-11 05:19] #352 closed

[2015-08-11 05:25] netj commented on #352
Sorry for the hassle guys.  It turns out we didn't test carefully enough on vanilla OS X.  The installer script should now work as expected now.

[2015-08-11 22:59] ajratner commented on #351
These ideas are all awesome!

In our `dd-genomics` repo (still pre-`0.7.0`) we just split our `create_schema.sh` utility script into two-
* one for the "input" fields (e.g. the `sentences` table, anything else that might have been the result of expensive pre-processing)
* one for everything else (stuff that would be re-computed each full run of dd anyway)

This has been good enough for us for the

[2015-08-12 17:27] ajratner opened #354 "find command error with large runs"
Got an error (`/usr/bin/find: Argument list too long`) when deepdive was executing:
[code]

Jaeho says `-name` should be added as argument to `find`:
[code]

[2015-08-12 22:33] ajratner opened #356 "Setting extractor-level parallelism in DDLog?"
How can you set the extractor-level parallelism (i.g. the `xargs` parallelism for running each single extractor) in DDLog?

I know that you can (presumably, from `v0.6.x`) go into the compiled `deepdive.conf` file and then add e.g. `parallelism: ${PARALLELISM}` to every extractor, but is there some better way to do this / can there be?

The question of whether we'd want to set this for each indivi

[2015-08-12 22:35] chrismre commented on #356
I like the default and then override strategy... but Jaeho is the boss.

On Wed, Aug 12, 2015 at 3:33 PM, Alex Ratner <notifications@github.com>
wrote:

[2015-08-12 23:59] #354 closed

[2015-08-13 02:47] ajratner opened #357 "schema.sql file generated from ddlog?"
Is this on the roadmap out of curiosity?  Seems like this would be nice and also fairly simple way to centralize the basic DD app in the ddlog file- or is there a way to do this already?  Thanks!

[2015-08-13 02:50] chrismre commented on #357
I like it!

On Wed, Aug 12, 2015, 9:47 PM Alex Ratner <notifications@github.com> wrote:

[2015-08-13 21:18] zifeishan opened #358 "plpy extractor PATH issue in latest release"
`$DEEPDIVE_HOME/uti` is not under PATH any more, which breaks the plpy extractor pipeline here:

https://github.com/HazyResearch/deepdive/blame/master/src/main/scala/org/deepdive/extraction/ExtractorRunner.scala#L534

[2015-08-13 21:25] zifeishan opened #359 "util/format_converter and util/sampler-dw not found"
After going through the installation using `bash <(curl -fsSL deepdive.stanford.edu/install)`, I found the following utils missing:
 `util/format_converter` and `util/sampler-dw`.

They don't seem to be extracted into `util/` anymore, which breaks the grounding and inference pipeline. Am I missing anything in installation?

[2015-08-13 21:27] netj commented on #358
PATH set up is done by [`deepdive`](https://github.com/HazyResearch/deepdive/blob/master/shell/deepdive#L37-L38) command.  Note that `$DEEPDIVE_HOME` is no longer the root of the source tree to make binary releases possible.  Instead [stage.sh](https://github.com/HazyResearch/deepdive/blob/master/stage.sh#L101) places all scripts under util/ in the directory that becomes `$DEEPDIVE_HOME`.

I think

[2015-08-13 21:28] netj commented on #359
Did you use the binary release option from the installer?

[2015-08-13 21:30] zifeishan commented on #358
Got it. Thanks!

[2015-08-13 21:30] #358 closed

[2015-08-13 21:34] zifeishan commented on #359
I was running an old application, which does not run via `deepdive run`. Thanks!

[2015-08-13 21:34] #359 closed

[2015-08-13 22:19] netj commented on #359
I see.  The updated [changelog for 0.7.0](http://deepdive.stanford.edu/doc/changelog/0.7.0-alpha.html) will hopefully prevent others from falling into the same issue!

[2015-08-17 02:41] ajratner opened #360 "ddlog column names of views messed up?"
I wrote a ddlog program which uses some intermediate statements to serialize data- following Ce's [example](https://github.com/HazyResearch/pdd/blob/master/paleo.ddl)- and it seems to break because of some column name issues.  For example, I have a table:
[code]
and then I create the view `cells_serialized` from it:
[code]
in order to create the view `tables_serialized`:
[code]
When I try to run t

[2015-08-17 02:44] chrismre commented on #360
@feiranwang @netj this is a ddlog issue?

[2015-08-17 02:46] ajratner commented on #360
Sorry, for future reference should I have put this somewhere else?

[2015-08-17 02:50] chrismre commented on #360
here is fine :) I'm just interested in DDlog issues right now. Make sure you send notes to those involved.

[2015-08-17 02:56] feiranwang commented on #360
Sorry I think ddlog does not support views right now, it has a problem when accessing columns of a view (In Ce's example, he uses views as input to functions, but not accessing individual columns). For a temporary fix, you can define the schema, and then use it. I'll fix this soon.

Let me know if you have any further issues. Maybe under ddlog repo and ping me directly :)

[2015-08-17 03:01] ajratner commented on #360
Okay cool

To clarify, for me this is not a big issue- for now I just changed the column names in `deepdive.conf` manually and is working fine

Good point on Ce's example too- that is another easy way for me to temp fix.  So no rush from my end.  Thanks!

[2015-08-17 18:34] ajratner commented on #360
Closing- moving ddlog issues to ddlog repo.  Not yet re-opening this one there though, because from my end, defining these intermediate tables in the schema as you suggested- e.g. using separate tables rather than views- is a fine enough solution for now

[2015-08-17 18:34] #360 closed

[2015-08-17 18:36] ajratner commented on #356
For reference, in case of use to anyone, a simple solution with sed is
[code]

[2015-08-19 23:24] ajratner opened #361 "INSERT count update error with Greenplum"
Also with psql < 9.3

See [this post](http://stackoverflow.com/questions/27043186/org-postgresql-util-psqlexception-unable-to-interpret-the-update-count-in-comma)

[This post](https://www.pivotalguru.com/?p=414) says that the data actually gets updated, we just need to catch this error and run an `ANALYZE TABLE` query...

[2015-08-20 02:20] astrung opened #362 "Failed installation for deepdive runtime deps:Can not run:sudo apt-get update"
When i installed deepdive runtime deps,and run this command:sudo apt-get update,i get this error:
"E: Some index files failed to download. They have been ignored, or old ones used instead.",
"W: Failed to fetch http://ubuntu.uhost.hk/dists/trusty-updates/main/i18n/Translation-en  Hash Sum mismatch".
But if i run that update command directly from system,everything is fine.
This error is occured whe

[2015-08-20 02:30] chrismre commented on #362
@feiranwang @netj @zhangce I thought we had this all nicely fixed on ubuntu? :)

[2015-08-20 03:37] netj commented on #362
@astrung Sorry you ran into this.  Could you tell us whether that failing update is happening after some `debconf` and `add-apt-repository` commands?  (Creating a [gist](http://gist.github.com) of your entire output may be much more helpful.)  Have you tried changing your Ubuntu mirror to a more reliable one?  It seems [the one you're using](https://launchpad.net/ubuntu/+mirror/ubuntu.uhost.hk-arc

[2015-08-22 02:40] astrung commented on #362
After i change your Ubuntu mirror,it is fine.Thank you.
But it is neccessary to update system when install Deepdive??

[2015-08-22 17:20] netj commented on #362
@astrung Glad to hear it worked.  The installer makes sure you have all the dependencies installed upfront to save you from debugging runtime errors.  You can install just DeepDive without any system updates using the `deepdive_from_release` option.

[2015-08-22 17:20] #362 closed

[2015-08-23 22:26] feiranwang commented on #330
Looks good.

[2015-08-24 08:46] netj commented on #330
@feiranwang commented on wrong place?  I was confused when I looked at the PR :)  Will merge myself.

[2015-08-24 08:46] #330 closed

[2015-08-24 17:34] #340 closed

[2015-08-24 18:26] netj commented on #350
For the record, our current guess of the cause is having different extractor implementations for mysql.  However, for the moment, let's just retry the test once more when it fails to suppress false alarms from Travis because that's basically what we're currently doing anyway.  We should get to the bottom of this and unify the underlying code eventually.

[2015-08-26 08:35] astrung opened #369 "Linking between entities and mentions:Don`t find documentation about it."
I have read examples,documentations about deepdive,but i dont find any instructions about Linking between entities and mentions(it is introduced in KBC documentation) .We can not do some
applications without it.Can you explain me about how to do it??Sorry for post this question here,but i don`t know about any communication groups to ask it.
![datamodel](https://cloud.githubusercontent.com/assets/9

[2015-08-27 02:27] chrismre commented on #369
@raphaelhoffmann did you write the EL tutorial up? @zhangce @netj

[2015-08-28 23:01] chrismre commented on #351
Any updates? This is an obvious pain point in the language that we should take care of soon! :)

[2015-08-29 02:32] feiranwang commented on #351
`deepdive load` is added in #368. I'll also take care of making `initdb` to be able to create specific tables.

[2015-08-29 03:59] astrung opened #371 "Collect examples for the relation without Distant supervision"
Now i want to extract some relations,but i can not find that relations from any databases.So we can write applications without training data for relations(without Distant supervision)?

[2015-08-29 04:05] chrismre commented on #371
Absolutely! This may require some conversation about how to do it properly... but in our human trafficking applications there are essentially no databases and distant supervision works well...

one way to think about it is to write some (low quality) simple rules as distant supervision. for example, we had lots of collisions about which location (is it concord CA? TX?) -- but we heuristically used

[2015-08-29 05:03] astrung commented on #371
If we don`t have any positive and negative examples,how to learn the weight of a factor???we can generate a constant or depend on some variables for it,but if we have some negative candidates for a relation,i am not sure that deepdive can give small weights automatically for them without examples

[2015-08-29 05:11] chrismre commented on #371
Roughly, the game works like this:

* You heuristically generate many different kinds of low quality examples. Concretely, you write a bunch of regular expressions and python code. They labels you generate will be noisy--this is OK. It's a little disturbing from a classical ML perspective but fine from a stat/optimization perspective.

* Now, the game is to get some redundancy in the labels so tha

[2015-08-29 05:31] astrung commented on #371
@chrismre When do you complete your tools?:))

[2015-08-29 17:29] chrismre commented on #371
I don't know... :) @netj

[2015-08-29 21:09] zifeishan opened #372 "PGXL parallel dump"
In PostgresXL, currently there are no parallel dump support, and we are using `COPY` command to dump extractor input.

One way for parallel dump is that: if all the join tables have same distribution key, we can control individual data nodes to do local joins and dump in parallel. The datanodes can be connected in read-only mode through command line, and if there are N data nodes, the dump is esse

[2015-08-30 01:16] chrismre commented on #372
hmm... this should be handled by DD... Seems easy enough? @zhangce @feiranwang

[2015-08-30 04:12] alldefector commented on #372
Related to this, when loading data, the coordinator is also the bottleneck. We haven't found a good way to do parallel loading yet. PG 9.5 offers the ability to switch b/w LOGGED and UNLOGGED for a table, which could be used to speed up data loading for PG. Unfortunately, PGXL is based on PG 9.2 and so cannot benefit from that.

[2015-08-30 04:27] feiranwang commented on #372
Synced up with Zifei. The described approach applies to dumping a single table or local join of tables. In DD, an extractor input query could be an arbitrary SQL query, and the approach could not apply to such a general case. We could optimize for specific types of queries using the ad hoc approach, by getting hints from the users, which I think might be too specific.

[2015-08-30 04:40] chrismre commented on #372
Why not make sure the simple cases work? We don't have to handle the
general case to be useful, right?

On Sat, Aug 29, 2015 at 9:27 PM Feiran Wang <notifications@github.com>
wrote:

[2015-08-30 04:41] feiranwang commented on #372
Sure, we can add support for that.

[2015-08-30 04:51] chrismre commented on #372
Maybe just an annotation?

On Sat, Aug 29, 2015 at 9:41 PM Feiran Wang <notifications@github.com>
wrote:

[2015-08-30 04:54] feiranwang commented on #372
Yes, basically our idea is to add parameters from the user to deepdive, and perform local join and dumping.

[2015-09-01 21:01] vsoch opened #375 "SSL Connection"
Is there support for an SSL connection?

[2015-09-01 21:38] vsoch commented on #375
Just putting some notes here - I'm not sure if this is a bug or that I didn't (yet) install the system dependencies. [Here](https://github.com/HazyResearch/deepdive/blob/master/shell/load-db-driver.sh#L22) the different driver folders are expected to be under "util," but they are actually under "shell"

[2015-09-02 00:05] chrismre commented on #375
@netj @SenWu @zhangce I don't see why this would be an issue...

[2015-09-02 00:07] vsoch commented on #375
Great, thanks so much! If we figure it out, I'd be happy to write up a little documentation for it.

[2015-09-02 00:58] raphaelhoffmann commented on #372
I did some experiments which suggest PGXL unload performance *is* really
good! I'm consistently getting 200MB/sec, which is the max I/O performance
for the machine.

However, I also did experience the slow unload performance Zifei has
reported on a different machine (with the same specs). This must be a PGXL
bug or configuration issue.

What is really slow, however, is loading (25MB/sec) which is

[2015-09-02 01:24] badder commented on #372
@raphaelhoffmann : what throughput do you get for loading with UNLOGGED? Did you find a work-around to turn off UNLOGGED after loading?

[2015-09-02 01:25] alldefector commented on #372
@raphaelhoffmann : what throughput do you get for loading with UNLOGGED? Did you find a work-around to turn off UNLOGGED after loading?

[2015-09-02 01:42] raphaelhoffmann commented on #372
Loading into UNLOGGED table: 100MB/sec
Loading into LOGGED table: 21MB/sec

Postgres 9.5 includes a new command
ALTER TABLE ... SET LOGGED;

But there does not seem to be an option to convert unlogged to logged in
9.2/PGXL.

On Tue, Sep 1, 2015 at 6:25 PM, alldefector <notifications@github.com>
wrote:

[2015-09-03 03:34] chrismre commented on #375
@SenWu Can you look at this?

[2015-09-03 03:52] SenWu commented on #375
Sure.

[2015-09-03 04:50] SenWu commented on #375
@vsoch Let me rephrase your question. Do you mean whether we can configure Git to accept the our particular signed server certificate for deepdive repo (https remote)?

[2015-09-03 05:08] vsoch commented on #375
@SenWu there isn't any issue with git - the issue is when using deepdive and connecting to the database (eg, any command with deepdive X" whether it be via a utils function to do initial database work, or a function embedded in the scala to work with the same database.) In the case of a url for postgres, it would be just added ?ssl=true. I'm hoping it will be as simple as adding an extra parser to

[2015-09-03 06:05] SenWu commented on #375
@vsoch Thanks for your clarification. We will add ssl option in next update.

[2015-09-03 16:13] vsoch commented on #375
Fantastic, many thanks @SenWu.  There isn't huge rush because I was able to go through the entire walkthrough on my local machine, and am not held back in any way to start developing our methods locally. It's really a beautiful piece of software - I of course expect to have bugs and what not, but the workflow with the database, making extraction rules, and running pipelines is very intuitive! :L)

[2015-09-03 16:49] chrismre commented on #375
You are far too nice!

We should be able to fix this soon... some of our team is very seriously
studying ... in hawaii for the week... I haven't seen them at the
conference, so I assume they are in their rooms coding :)

Chris

On Thu, Sep 3, 2015 at 9:13 AM, vsoch <notifications@github.com> wrote:

[2015-09-03 20:31] vsoch commented on #375
oh yes, definitely :o)

![coding](https://imgs.xkcd.com/comics/compiling.png)

[2015-09-04 17:42] SenWu commented on #375
@vsoch Can you try our new update in 'ssl_support' branch? In order to use ssl connections.You can specify ?ssl=true in the connection string, e.g.,
  jdbc:postgresql://localhost:5432/dbname?ssl=true
And Deepdive will connection to database via ssl connection with the non-validating ssl factory.

[2015-09-04 17:44] vsoch commented on #375
Thanks @SenWu! I will give it a try asap - there might be some delay because my Brother is getting married tomorrow! :wedding:

[2015-09-04 21:35] vsoch commented on #375
@SunWu, we are making progress! The ssl part seems to be working, and there are some additional bugs that are likely related to my installation (that I will look into). Here is how I tested, despite some installation bugs:

First, I tried it as a user would, from the project directory:

      deepdive init-db

And here was the error:

      db-parse operation not available for "postgresql
      db

[2015-09-04 21:37] chrismre commented on #375
Adding @SenWu. We should doc this.

[2015-09-04 21:42] SenWu commented on #375
@vsoch Happy to know it works.
@chrismre Doing doc now.

[2015-09-05 20:01] SenWu commented on #375
Added doc in https://github.com/HazyResearch/deepdive/commit/4d39e685af090af776fbca5ccb0fa15a9cbcb602.

[2015-09-06 16:12] raphaelhoffmann commented on #372
I created a little script that does parallel unload from PGXL, runs a
command, then does parallel loading. It reads the port numbers of the
running PGXL nodes from the coordinator.

https://gist.github.com/raphaelhoffmann/916a97435801d438c919

This should be fast, but I am still planning to do a more careful
performance analysis.

One more thing: On Greenplum, I noticed one can also get a load tim

[2015-09-06 18:50] raphaelhoffmann opened #378 "PGXL failing on large datasets"
Trying to run one of our memex extractors, PGXL fails on the following query:

SELECT DISTINCT t0.id AS factor_id, t1.id AS weight_id,  "ismassageparlorad.id"
  FROM dd_query_f_ismassageparlorad_features t0, dd_weights_f_ismassageparlorad_features t1
  WHERE  t0."ismassageparlorad.feature" = t1."ismassageparlorad.feature"

A few observations:
- It seems DISTINCT is redundant and can be dropped (?)

[2015-09-06 19:05] alldefector commented on #378
PGXL distributes by first usable (primitive types) column by default. If both base tables were distributed by the ID column, this join would probably make each data node send data to all other data nodes -- by the same token, each node would also process data from all other nodes. And the cross-node data pipes might not be very efficiently implemented.

Ideally the DDL code generated by DD should

[2015-09-06 21:00] raphaelhoffmann commented on #378
dd_query_f_ismassageparlorad_features (38GB) is distributed by "ismassageparlorad.id".
dd_weights_f_ismassageparlorad_features (18MB!) is distributed by REPLICATION.

This join should be trivial, no matter how the first table is distributed.

We also can't re-distribute the table for every join, because re-distribution is very expensive. I'm currently re-distributing the first table by feature, bu

[2015-09-06 21:33] vsoch commented on #375
ok, I can confirm with a fresh install that the previously mentioned bugs to use the driver are resolved! Given that I don't have permissions to create the database, the standard initdb commands don't work, however I can write custom scripts to do the database setup and loading. Thanks again for your help with this, and I'll be sure to post if I run into any trouble!

[2015-09-06 21:58] raphaelhoffmann opened #379 "Sequence assignment is major performance bottleneck"
On greenplum (raiders4), the following query is executed while running our rates extractor:

SELECT fast_seqassign('rates', 0)

Throughput is 2.4 MB/sec.

This means it takes alone 3h to assign IDs to the candidates, and another 3h+ (still running) to assign IDs to the features.

Any ideas on how we could speed up sequence assignment?

[2015-09-06 22:05] chrismre commented on #379
@zhangce @SenWu How could this be? This performance bug should have been fixed months ago.

[2015-09-06 22:27] raphaelhoffmann commented on #379
Perhaps it has to do with the volume /lfs/local/0 being 99% full. We may have to ask people again to free up space.

[2015-09-06 22:32] zhangce commented on #379
how many cpu cores are busy if you ` top`?

Can you let me know which machine or some connection string to DB?

Ce
On Sep 6, 2015 3:27 PM, "Raphael Hoffmann" <notifications@github.com> wrote:

[2015-09-06 22:37] raphaelhoffmann commented on #379
The second phase of sequence assignment just finished, and I want to let it continue (raiders4, DB is memex_mar2015_large). I'll let you know the next time time I'm running sequence assignment.

[2015-09-07 00:19] #375 closed

[2015-09-07 00:28] SenWu commented on #379
Thanks! Could you share the log of your run to us?

[2015-09-07 00:43] raphaelhoffmann commented on #379
Sure! The log of the run is here:

/lfs/local/1/raphaelh/dd/new/deepdive/log/2015-09-06T093453.txt

Database is memex_mar2015_large and it's running inference only. I launched
this job at 9:30AM and it still hasn't reached the sampling phase.

Thanks!

On Sun, Sep 6, 2015 at 5:28 PM, SenWu <notifications@github.com> wrote:

[2015-09-07 01:06] raphaelhoffmann commented on #378
I tried re-running the query after redistributing the first table.

It's running now on our Azure instance using PGXL at a rate of 3.8MB/sec (this doesn't include the time for redistribution which itself took maybe an hour or more).

I also checked my logs to see how a corresponding query executed on Greenplum on raiders4. There, the rate is 1.8MB/sec (but we don't do redistribution).

Not sure wh

[2015-09-07 01:11] raphaelhoffmann commented on #378
Here are the query plans:

Greenplum (after ANALYZE):
[code]

PGXL (after redistribution and ANALYZE):
[code]

(The unique is unnecessary and it is dropped if you remove DISTINCT from the query; when executing, I ran without DISTINCT.)

[2015-09-07 03:10] raphaelhoffmann opened #381 "Failure in format_converter – system idle"
See log below. There are two issues here:

1.  I am getting a java.lang.NoClassDefFoundError when running format_converter.
2.  The error is only reported on the console, but not in the error log file. After that, the system goes into an idle state, where to_binary.py is no longer running; however the DD process is, and there seems to be no activity. Unfortunately, the relevant files eg. dd_variab

[2015-09-07 03:43] alldefector commented on #379
Correct me if I'm wrong -- looks like all those post-hoc-assigned sequence
IDs are always used as array indexes in the sampler and never for SQL
joins. If that's true, what are the challenges to do without the sequence
assignment steps?

Feng

On Sun, Sep 6, 2015 at 5:43 PM Raphael Hoffmann <notifications@github.com>
wrote:

[2015-09-07 04:04] alldefector commented on #379
Or if the ID fields are used as conceptual foreign keys in the DB, maybe we
could use a fingerprint of the tuple.

On Sun, Sep 6, 2015 at 8:43 PM Feng Niu <niufeng14@gmail.com> wrote:

[2015-09-07 04:08] zhangce commented on #379
The finger print of tuples in GP is a little weird (it is too physical in
the sense that there are no guarantee of when it will not change at all)...
need to do more profiling after Raphael's current run. That function should
be faster than 2MB/s if the DB is working properly.
On Sep 6, 2015 9:04 PM, "alldefector" <notifications@github.com> wrote:

[2015-09-07 04:12] SenWu commented on #379
@raphaelhoffmann From the log file, there is nothing wrong... Please let me know if you have further information.
@alldefector We use assigned variable IDs in SQL joins to ground edges, you can find it here: https://github.com/HazyResearch/deepdive/blob/1573cb703079b10cb2dcc93b3d67e09d079d628c/src/main/scala/org/deepdive/inference/SQLInferenceRunner.scala#L718.

[2015-09-07 04:15] raphaelhoffmann commented on #379
Ce: Job is no longer running. It may have to do with the disk being too full.

[2015-09-07 04:16] alldefector commented on #381
Based on my experience with Java, NoClassDefFoundError might occur when a
thread is cleaned up (some sort of race condition between the user code and
JVM's thread manager I think). The DD log file is still printing every
minute:

21:05:53.772 [default-dispatcher-3][taskManager][TaskManager] INFO  Memory
usage: 107/2101MB (max: 27305MB)
21:06:53.772 [default-dispatcher-3][taskManager][TaskManager]

[2015-09-07 04:19] alldefector commented on #379
Oh, I meant doing fingerprinting in our code over the tuple content as the
tuple is generated. Basically a hash function of the tuple.

On Sun, Sep 6, 2015 at 9:08 PM zhangce <notifications@github.com> wrote:

[2015-09-07 04:43] alldefector commented on #379
Thanks @SenWu. If we assign non-contiguous IDs or fingerprints to the
tuples (say in Java or bash) right before each tuple is inserted into the
DB, those joins should still work, right?

Is it possible to tweak the sampler so that we can feed it variables and
factors without sequential IDs?

On Sun, Sep 6, 2015 at 9:12 PM SenWu <notifications@github.com> wrote:

[2015-09-07 05:17] raphaelhoffmann commented on #381
That sounds good – I'll run this overnight.

[2015-09-07 05:49] raphaelhoffmann commented on #381
OK. It's restarted. In both cases when I got this error, I also had to later start a new shell, since simply re-running DD threw the following error:

[code]

[2015-09-07 05:58] SenWu commented on #381
@raphaelhoffmann You lost permission when you re-run DD. You can either re-login or use reauth command to get authenticated access.

[2015-09-07 06:05] raphaelhoffmann commented on #381
@SenWu I see – but I don't understand why this is happening. What is
causing this?

On Sun, Sep 6, 2015 at 10:58 PM, SenWu <notifications@github.com> wrote:

[2015-09-07 06:11] SenWu commented on #379
@alldefector If we assign non-contiguous IDs, then we need do remapping non-contiguous IDs to contiguous IDs in sampler.

Is it possible to tweak the sampler so that we can feed it variables and factors without sequential IDs?
Yes, we can do this. However, we might have following things to take care:
1. If we don't assign sequential IDs, then we need have unique keys to identify different variable

[2015-09-07 06:14] SenWu commented on #381
@raphaelhoffmann It might be your DD installation. Did you install your DD/sbt in afs? If all your installations (sbt, DD) are in lfs, then everything will be fine.

[2015-09-07 06:14] raphaelhoffmann commented on #378
@SenWu Is DISTINCT necessary for this query?

[2015-09-07 06:26] raphaelhoffmann commented on #381
Not sure what it's trying to create in /afs, but you're right: It appears
to be some Stanford security policy. Thanks.

On Sun, Sep 6, 2015 at 11:14 PM, SenWu <notifications@github.com> wrote:

[2015-09-07 06:32] SenWu commented on #378
@raphaelhoffmann I think you can delete it.

[2015-09-07 16:56] zhangce commented on #379
@raphaelhoffmann I profile the query `SELECT fast_seqassign('dd_query_rates_features', 0);` which took 2 hours in your log. I think it is a DB problem instead of how we implement this function.

The key ratio to see whether the bottleneck is really the `fast_seqassign` function is to see the ratio of execution time between

        `create table tmp as select * from dd_query_rates_features;`

and

[2015-09-07 20:05] alldefector commented on #379
@zhangce Yeah, getting rid of table rewrite (UPDATE) is exactly what I had
in mind. Is the sequentialness is absolutely necessary but generating it
inside the DB is costly, can we design a way to generate the IDs from the
extractor driver code? If all extraction is done in one process, we could
just use a simple integer variable. If there are multiple extraction
processes, maybe we could use some

[2015-09-07 21:39] zhangce commented on #379
@alldefector Your recommendation makes perfect sense for one `fast_seqassign` call (there are two such calls that are expensive)

    1. There is one `fast_seqassign` call for variables loaded from the output of extractors.
    2. There is another `fast_seqassign` call for factors output by SQL grounding queries.

For 1, we could just have a really fast shell script to assign IDs in TSV before loa

[2015-09-07 21:43] alldefector commented on #379
Awesome! Who is going to own those changes?

On Mon, Sep 7, 2015 at 2:40 PM zhangce <notifications@github.com> wrote:

[2015-09-07 22:28] alldefector commented on #381
@zhangce is working on the next-gen petabyte-scale sampler that will do without the object boxing and converter!

[2015-09-08 02:45] raphaelhoffmann commented on #379
We restarted greenplum (thanks, Sen!), free'd up some space, and re-ran this process. The log of the new run is here:

/lfs/local/1/raphaelh/dd/new/deepdive/log/2015-09-06T093453.txt

We are still seeing the same runtimes (3h for sequence assignment of rates, 2 or 3h for sequence assignment of features). I didn't yet run the CREATE TABLE command Ce suggested, but I suspect that the runtime is inde

[2015-09-08 02:47] zhangce commented on #379
Did you VACUUM?

Ce
On Sep 7, 2015 7:45 PM, "Raphael Hoffmann" <notifications@github.com> wrote:

[2015-09-08 19:07] raphaelhoffmann commented on #381
This issue is resolved. Thanks for the helpful tip, @SenWu !

Although I didn't have ```sbt``` installed locally, I was using the sbt launcher in the DeepDive directory ```sbt/sbt "run ..."```.  Without further arguments, it puts ivy packages and lock files into the user's home directory. The errors went away, when explicitly instructing sbt to use different paths:

[code]

I think it would make s

[2015-09-08 19:08] #381 closed

[2015-09-08 19:32] raphaelhoffmann opened #383 "Error messages not appearing in log file"
Some error messages only appear on the console, but not in the log file, eg. #381.

[2015-09-08 21:14] raphaelhoffmann opened #384 "PGXL PL/Python extractors keep running after Ctrl-C'ing DeepDive"
Not sure if we can do something about this. Hoping we'll eventually get the same speed with tsv_extractor and can avoid PL/Python.

[2015-09-08 21:23] raphaelhoffmann commented on #379
I ran VACUUM last night and then restarted the job. The time for sequence assignment on "rates" went down from 3h to 2:18h. I haven't checked the time for sequence assignment on the feature table yet.

So, it's a small improvement, but still sequence assignment is a major bottleneck.

[2015-09-09 00:03] alldefector commented on #379
Looks like we may want to revisit the design of the internal tables. For
example,
https://github.com/HazyResearch/deepdive/blob/master/src/main/scala/org/deepdive/inference/InferenceNamespace.scala#L27-L28

We have these two prefixes: "dd_query_${tableName}"
and "dd_factors_${tableName}".

"dd_query_" is presumably for variables, but it's actually used for
factors. Variable tables are created by u

[2015-09-09 00:21] raphaelhoffmann commented on #379
Assigning the IDs when writing the table the first time seems to be the right thing to do. But – I thought that the reason why we have stored procedures for sequence assignment is because we found that the sequence generators were too slow (?)

If the sequence generator turns out to be a bottleneck, it's likely because it's syncing after every row. In that case we could create a stored procedure t

[2015-09-09 00:26] zhangce commented on #379
@alldefector @raphaelhoffmann Sorry I am confused on this... The 2:18h number is on raiders4 that you just said the IO bandwidth is 4x lower than than raiders3?... Maybe we should do proper profiling before we jump into discussions of all those details? Let's fix the machine for you first, and then restart our discussion?

[2015-09-09 00:37] alldefector commented on #357
Do we plan to keep the ddlog --> conf --> DD flow in the long term? The translation loses the nicely defined user schema in ddlog even if it does generate the .sql file.

@netj any plan to pass all the structures (schema, rules) in ddlog to DD directly so that DD can more tightly manage the database (e.g., creating / loading / altering user tables directly instead of having the cumbersome .sql fil

[2015-09-09 01:37] raphaelhoffmann commented on #379
@zhangce. Sounds good, we can re-run the experiment once raiders4 is working properly again.

Here are a few more measured runtimes for another extractor on an AWS r3.8xlarge instance, using a RAID over the local SSD volumes for I/O. I/O throughput is very good on that machine (600-700MB/sec).

[code]

[2015-09-09 02:26] zhangce commented on #379
I think a larger bottleneck seems to be the third query not the sequential
assign one?
But in the next version of the sampler, we will get rid of this query
soon...

Ce
On Sep 8, 2015 6:37 PM, "Raphael Hoffmann" <notifications@github.com> wrote:

[2015-09-09 02:32] raphaelhoffmann commented on #379
I see. @SenWu has also created a pull request that gets rid of the DISTINCT in the third query. That simplifies the query plan, getting rid of a sort, speeding this query up.

[2015-09-10 05:13] raphaelhoffmann opened #385 "PGXL fails on re-using weight table"
We are currently using a distributed UPDATE query here:

https://github.com/HazyResearch/deepdive/blob/1573cb703079b10cb2dcc93b3d67e09d079d628c/src/main/scala/org/deepdive/inference/SQLInferenceRunner.scala#L871

This is not supported by PGXL: http://sourceforge.net/p/postgres-xl/mailman/message/34113261/ and the following error is returned:

[code]

There are two possible workarounds (see link):

[2015-09-10 19:30] raphaelhoffmann commented on #385
There's another problem with re-using a weight table: The same query is quite slow when the weight table is large (which is the case for all our HT extractors). However, after adding an index on the feature column, it is running quite well.

I suggest we also update the documentation, recommending an index on the feature column when re-using a weight table.

[2015-09-10 20:20] raphaelhoffmann commented on #379
@zhangce I'm done with my processing work, so this might be a good time to investigate the issues on raiders4. Both seem to have the same configuration with two NAS volumes:

[code]

I measured sequential write I/O (using ```dd if=/dev/zero of=/lfs/local/1/raphaelh/xxx bs=64k count=131072 conv=fsync```) and found that the speed for /lfs/local/0 is about 100MB/sec and for /lfs/local/1 is about 150M

[2015-09-10 20:25] zhangce commented on #379
@raphaelhoffmann Lets move this discussion off the public issue to avoid broadcast to everyone (It is getting too much detailed to most subscriber)?

The 100MB vs. 150MB throughput does not explain the 4x difference you observed? Should we Skype quickly? Sorry some numbers do not quite add up and I am still confused on what is the issue...

Thanks!

Ce

[2015-09-10 22:40] raphaelhoffmann commented on #379
Since this thread discusses multiple topics, we decided to close this issue and open separate new issues. We will also continue our investigation of hardware issues offline.

[2015-09-10 22:40] #379 closed

[2015-09-10 22:43] raphaelhoffmann opened #386 "Remove sequence assignment for factors"
Sequence assignment for factors is not needed, and removing it will speed up our pipeline.

[2015-09-10 22:50] raphaelhoffmann opened #387 "Sequence assignment for variables requires copying of candidate tables"
Since sequence assignment creates a copy of a (possibly large) table, it can be slow (i.e. hours). See #379 for details. DeepDive requires sequence IDs for variables.

[2015-09-12 00:33] vsoch opened #388 "Easiest Way Custom Annotations"
I want to use [RegexNER](http://nlp.stanford.edu/software/regexner/) to define a list of custom words (brain regions and cognitive concepts) that will be tagged as either REGION or CONCEPT.

As an example, the top of my `cognitiveatlas-annotations.txt` file looks like this:

      abductive reasoning	CONCEPT
      absolute threshold	CONCEPT
      abstract analogy	CONCEPT

The example on the site t

[2015-09-12 03:25] chrismre commented on #388
@netj and @ajratner  is thinking about how to make this process dramatically easier... I don't know what the current status is :)

[2015-09-12 03:31] vsoch commented on #388
Is there a branch I could look at for inspiration? Even just a push in the right direction I think I could get something working for our analysis.

[2015-09-12 03:32] chrismre commented on #388
adding more people I emailed :) @thodrek @feiranwang

[2015-09-12 04:39] vsoch commented on #388
I think I found a lot of examples [here](https://github.com/rionda/dd-genomics) that will be good to get me started!

[2015-09-12 12:00] chrismre commented on #388
I'm not sure how good those examples actually are... @netj when you get back online can you sync up?

[2015-09-13 17:18] netj commented on #357
@alldefector Yes, that's certainly where we're headed.  We're trying to preserve DDlog's high-level info in a JSON format to do various operations.  @feiranwang has already made some progress on the creating/altering parts in #376 and we'll try to expose more operations to give complete control to the user.

[2015-09-13 18:11] netj commented on #388
Hi @vsoch, it's possible to do the tagging with RegexNER while running CoreNLP, but in typical DeepDive apps it's done as you first thought by writing extractors that scan every word/phrase.  That's partly because your tagging (or candidate mapping) extractor evolves a lot while most of the compute heavy NLP don't, so decoupling speeds up the development.  We're currently working on an easier way

[2015-09-13 18:22] vsoch commented on #388
Thanks for the feedback, and the example! That strategy is very logical, I agree that the candidate mapping is likely to evolve, and actually it's the extractors that seem like they would be the most variable out of all things in the application. I will move forward with enveloping the regular expressions there.

[2015-09-17 08:28] AlexisBRENON opened #389 "Set field names for JSON extractor depending on the ddlog function definition attributes"
Hi,

In DDLog, I define a function and call it this way :

    function ext_eating_candidates
      over (sample_id bigint, activity text, activity_to_cast text)
      returns (sample_id bigint, is_true boolean)
      implementation "udf/cast_activity_to_bool.py"
      handles json lines.

    eating_candidates +=
      ext_eating_candidates(sample_id, activity, "eat") :-
        samples(sample_id

[2015-09-17 10:09] netj commented on #389
Thanks for pointing out! These are rough corners that were overlooked for json. @feiranwang could you take a look?

[2015-09-17 19:07] feiranwang commented on #389
I'll look into this. Btw, the recommended extractor type is tsv extractor, which is much faster than the json extractor. In tsv extractors, columns names are irrelevant, while the order does.

[2015-09-18 07:27] AlexisBRENON commented on #389
Even if it's faster, I think that JSON extractor, based on column name and so, that gives some semantic to your extractor, is far better for maintenance: in case you have to add or remove some attributes, you can easily check its existence with JSON, but not with TSV. Both are useful, depending on your goal : speed or continued existence.

[2015-09-18 12:57] chrismre commented on #389
This is a great point, and we do support both for that reason. Speed issues
to one side, we'd prefer a nice human reasable format. However, I think
what Feiran's saying is that the speed penalty for JSON can be
unreasonable. We've had people stub their toes on building JSON extractors,
only to find out it doesn't scale later. You're more than welcome to use
it!

On Fri, Sep 18, 2015 at 12:27 AM Al

[2015-09-18 19:26] netj opened #391 "Relax PostgreSQL plpython dependency"
While plpython is only necessary for Greenplum/PostgreSQL-XL, DeepDive requires it even for PostgreSQL.  We should relax that to make DD more easily usable.

[2015-09-18 19:34] netj opened #392 "Clarify dependency requirements in installation page"
e.g., postgres, mysql version

https://github.com/HazyResearch/deepdive/blob/master/doc/doc/basics/installation.md

[2015-09-18 19:47] netj opened #393 "Revise incremental documentation and interface"
https://github.com/HazyResearch/deepdive/blob/master/doc/doc/advanced/incremental.md
http://deepdive.stanford.edu/doc/advanced/incremental.html

* [ ] Fix typos and formatting issues causing confusion
* [ ] Migrate to the `deepdive run` command within the .sh scripts
* [ ] Provide more `deepdive` sub-commands exposing the operations for different incremental phases
* [ ] Replace the .sh scripts wi

[2015-09-18 19:52] netj opened #394 "Document how to get search interface over DeepDive data products"
Add a polished documentation page that describes how to bring up a search interface using mindbender, consolidating:
* MindBender example https://github.com/HazyResearch/mindbender/tree/master/examples/spouse_example#readme
* DDlog annotations https://docs.google.com/document/d/1XGGcfiVRQEKh2sQDJSTYFYX1j9ucNojq51WzJjJu-W0

[2015-09-20 10:40] SenWu commented on #337
Updated the first two tasks.

[2015-09-20 10:40] SenWu commented on #339
Updated. Please review.

[2015-09-20 19:58] zhangce commented on #391
PR https://github.com/HazyResearch/deepdive/pull/397

[2015-09-20 19:58] #391 closed

[2015-09-21 12:44] astrung opened #399 "Increase performance for deepdive app"
My deepdive app run slowly with some big datasets,and i want to ask some tips to improve performance:
-When we read data from databases,if we have so many,many rows in that table,Deepdive apps will read all records from databases,then execute Python scripts for all of its or read one records to execute Python scripts???if we can not read all records in memory,we have any other options???
-If we ad

[2015-09-21 20:59] ukliu opened #400 "Failed installation for run_deepdive_tests"
Hi there. I am a newbie trying to install deepdive together with PostgreSQL. I followed the installation guild on http://deepdive.stanford.edu/doc/basics/installation.html. All seem working but when I ran run_deepdive_tests, it says this,

[code]

BTW, I installed PostgreSQL 9.4 together with deepdive. PostgreSQL seems working fine, which responds to psql command smoothly.

Thank you very much for

[2015-09-21 21:19] zhangce commented on #400
@netj Can you help with this one? Sorry I am not that familiar with the current installer of DD. Thanks!

[2015-09-21 22:32] netj commented on #400
Hi @ukliu, sorry but `run_deepdive_tests` option has been added after 0.7.0 was released, so the release itself doesn't support testing installation, but you can run tests with the maintenance branch.  Try:
[code]

[2015-09-22 00:13] ukliu commented on #400
@netj  Thanks so much for the prompt reply! I tried it, but it failed for most of the tests. The error message is like this.
...
remote: Counting objects: 574, done.
remote: Total 574 (delta 0), reused 0 (delta 0), pack-reused 574
Receiving objects: 100% (574/574), 114.06 KiB | 0 bytes/s, done.
Resolving deltas: 100% (270/270), done.
Checking connectivity... done.
Testing against database TEST_DBN

[2015-09-22 00:42] netj commented on #400
@ukliu I see.  It seems your postgresql is not installed with plpython support.  We are trying to eliminate that dependency in the next release, but for now you can reinstall it with:
[code]
 or use our installer's postgresql option.

[2015-09-22 00:58] ukliu commented on #400
@netj  Thank you so much! Now everything is working!
One of the 13 tests is skipped. I guess that is acceptable, right?

### DeepDive installer for Mac
+ curl -fsSL https://github.com/HazyResearch/deepdive/raw/v0.7.x/util/install/install.Mac.sh
## Starting installation for run_deepdive_tests
## Starting installation for deepdive_examples_tests
DeepDive examples and tests already downloaded at /Use

[2015-09-22 03:13] ukliu opened #401 "deepdive: command not found"
Hi, it's me again. As a beginner in both deepdive and SQL, I might keep asking level-0 questions here. Sorry to keep bugging you @netj .

I was running the Tutorial on deepdive website "http://deepdive.stanford.edu/doc/basics/walkthrough/walkthrough.html". And got stuck at the stage "Database Configuration", step 'deepdive initdb'. Each time I typed this, there is an error message, "-bash: deepdiv

[2015-09-22 03:36] netj commented on #400
Glad it helped!  Yes, that test is for a deprecated feature and intentionally skipped.

[2015-09-22 03:36] #400 closed

[2015-09-22 18:23] netj commented on #401
@ukliu I'm sorry for not responding earlier to this simple issue. You probably forgot to add the directory where `deepdive` is installed to the `PATH` environment (3rd step of [Quick Installation](http://deepdive.stanford.edu/doc/basics/installation.html)).  Open a new terminal if you already modified `~/.bash_profile`.

[2015-09-22 18:49] ukliu commented on #401
@netj Thanks a lot, it works! I did that step in the original installation, but did not do it when everything was reinstalled last night.
I might keep bothering you in the future.  Thank you for your patience and help, I really appreciate them.

[2015-09-22 18:50] netj commented on #401
@ukliu My pleasure!

[2015-09-22 18:50] #401 closed

[2015-09-23 00:51] alldefector opened #403 "DDLog execution of plpy extractors fails on PGXL because of incomplete view support in PGXL"
Error:
00:20:52 [Helpers$(akka://deepdive)] INFO  ERROR:  column "doc_id" does not exist
00:20:52 [Helpers$(akka://deepdive)] INFO  LINE 3: FROM (SELECT func_extraction_rule_5(doc_id, __words, __sent_...

SQL:
DROP VIEW IF EXISTS dd_tmp_view_func_extraction_rule_5 CASCADE;
CREATE VIEW dd_tmp_view_func_extraction_rule_5 AS SELECT R0.doc_id AS "sentences.R0.doc_id", ARRAY_TO_STRING(ARRAY_AGG(ARRAY_T

[2015-09-23 01:55] alldefector commented on #403
OK, looks like it's specific to plpy extractors:
https://github.com/HazyResearch/deepdive/blob/e8b9dc329102c53bb273455953e8ac67a62e579c/src/main/scala/org/deepdive/extraction/ExtractorRunner.scala#L553
https://github.com/HazyResearch/deepdive/blob/master/util/ddext_input_sql_translator.py#L103

If we avoid using plpy extractors, looks like DDLog works on PGXL.

Time to deprecate plpy extractors?

[2015-09-23 01:58] chrismre commented on #403
I'm not so sure... they should be *much* faster... can we make sure it
doesn't blow up in our faces?

On Tue, Sep 22, 2015 at 6:55 PM alldefector <notifications@github.com>
wrote:

[2015-09-23 22:41] raphaelhoffmann opened #404 "ddlib fails for python3"
Running a TSV extractor using python3 throws the following error:

[code]

However, if I open ```$HOME/local/lib/python/ddlib/__init__.py``` and change
[code]
to
[code]
and also make a similar change in gen_feats.py, then everything works.

[2015-09-24 04:07] netj opened #405 "Open data provenance columns are malformed"
The provenance columns in TSV of most [open datasets](http://deepdive.stanford.edu/doc/opendata/) seem to be incorrect and some of them are malformed causing syntax errors when loading into the database.  The CoNLL format seems to contain the correct START/END offsets, so this seems to be a bug in conversion to TSV.
[code]

[2015-09-24 04:13] netj opened #406 "Open data READMEs are out of sync and need more description"
* [ ] The TSV formats contain lemma columns but they do not appear in the README.
* [ ] Some people were asking for a one-sentence description of each column.
* [ ] Adding hints for creating indexes over which columns for speeding up DeepDive to the README would be useful.

[2015-09-24 04:21] feiranwang commented on #393
Hi Jaeho, I was trying to update the interface as well as the incremental ddlog program to reflect recent ddlog changes. Since #376 updates ddlog, I think it would be better if #376 is reviewed and I base this work on top of it.

[2015-09-24 04:25] netj opened #407 "Open data in a better format than .zip?"
.zip files need to be fully downloaded for any of its files to be extracted, which renders any partial download useless.
If the datasets were published in .tar.gz with smaller files (e.g., README) at the beginning, then it's possible to extract whatever files that exist in the first part of the archive.

[2015-09-24 04:30] netj commented on #393
@feiranwang Sorry I wasn't clear about my intention.  I was postponing the merge because it was modifying the docs that may conflict with other more urgent issues.  It looks good so please base your commits on top of #376.

[2015-09-24 04:31] feiranwang commented on #393
@netj Sounds good. Thanks!

[2015-09-25 06:40] astrung opened #408 "Can not learn static weight from inference rules."
My inference rule:
      input_query: """
        SELECT is_product.id AS "is_product.id",
               is_product.is_true,
               is_keyword_here.ids AS "is_keyword_here.id",
               is_keyword_here.keyword_product,
               is_keyword_here.not_keyword_product
        FROM is_product,
             is_keyword_here
        WHERE is_product.relation_id = is_keyword_here.relati

[2015-09-25 16:58] ukliu opened #409 "Questions from a beginner"
First of all, thanks @netj  for helping me with the deepdive installation and the tutorial walk-through.  It took me a long time to go through all the tutorial programs line by line and understand how they work.

I have one small question on the tutorial programs, on
https://github.com/HazyResearch/deepdive/blob/master/examples/tutorial_example/step1-basic/deepdive.conf
line 27,32: Does not “sente

[2015-09-25 17:03] chrismre commented on #409
I just want to say--we should definitely be able to get you setup! There
are (ridiculous in my view) restrictions on some of the data from
GeoDeepDive... however, we can set you up with those tasks.

Your background is exactly the type of person we *want* to enable. I'd
propose a deal: we can help you get setup (we'd do this anyway :) ), but
perhaps you can help us document how to make it easier t

[2015-09-25 17:08] zhangce commented on #409
@ukliu In terms of your third question, you can find the code for PaleoDeepDive at https://github.com/HazyResearch/pdd . You can follow a similar structure for your
application. If you want more simple examples (and because you are from Shanan's team),
Julia also has an application that she builds from scratch over the summer using DeepDive
that is potentially more easier to follow; but you probab

[2015-09-25 17:16] chrismre commented on #409
Why not give out the ddlog version? it's easier to use right? and it's the
preferred way...

On Fri, Sep 25, 2015 at 10:08 AM zhangce <notifications@github.com> wrote:

[2015-09-25 17:20] zhangce commented on #409
preferred way...

Yes, ddlog is the preferred way to write applications now. The code in
https://github.com/HazyResearch/pdd is already in ddlog.

[2015-09-25 17:24] chrismre commented on #409
I should have checked =)

On Fri, Sep 25, 2015 at 10:20 AM zhangce <notifications@github.com> wrote:

[2015-09-25 17:42] ukliu commented on #409
Thanks for the reply! I cannot open https://github.com/HazyResearch/pdd though.

[2015-09-25 17:44] zhangce commented on #409
@ukliu Sorry, just added you.

[2015-09-25 17:47] ukliu commented on #409
@zhangce Thanks a lot! Also I sent an email to say hi and introduce myself. Thanks!

[2015-09-25 18:07] ukliu commented on #409
@chrismre Dear Chris, thanks for the reply and all your help. I meant to reply it sooner. I am afraid I will keep asking silly questions to learn deepdive. I do not know how many people are trying to learn it, but if there are a lot, maybe it is worth setting up an online course.

[2015-09-25 20:33] vsoch opened #410 "Superuser required for nlp_extractor?"
Is superuser required for use of the nlp_extractor? Earlier in the week we had the correct languages installed in the database (plpythonu) and I am getting permissions errors, and thinking that there is some issue with me not being a superuser. (My colleague at TACC noted that the appendage of "u" on the language means that it is "untrusted."

First, we can talk about the error, it looks like here

[2015-09-25 22:26] raphaelhoffmann opened #411 "Cannot get features for mindtagger"
With DeepDive's new schemas, I am no longer able to display features and feature weights in mindtagger.

Our app.ddlog contains multiple extractors. With only a single extractor, I can do:
[code]

However, with multiple extractors, the relevant table may be named ```dd_query_inference_rule_0```, ```dd_query_inference_rule_1```, ```dd_query_inference_rule_2```, ..., and I don't know how to select t

[2015-09-25 23:04] zhangce commented on #393
@netj Is anything doing the pass of documentation here? I can still see
grammatical errors in that page (I am happy to do one pass if no one is doing this)

[2015-09-25 23:10] zhangce commented on #406
@netj Maybe these three should happen in the walkthrough? When I
describe the data format in the open data page, I pointed it to the
walkthrough...

[2015-09-25 23:12] thodrek commented on #406
@netj @zhangce I'll do a pass over the documentation as well. Starting now.

[2015-09-25 23:14] zhangce commented on #406
@thodrek Sorry for the confusion, just to be clear, the open data doc is not the core part--you can focus on the main doc (I can deal with everything related to open data `opendata/index.md`)

[2015-09-25 23:30] zhangce commented on #407
@netj is this really necessary? The goal of the teaser data set is to make sure the user can download a small sample instead of the whole file... Can you let me know more details why the teaser data set is not enough such that the user need to download partial full data set with this trick?

If there is a need to download partial dataset larger than the teaser but smaller than the full, I can add

[2015-09-25 23:31] zhangce commented on #405
@netj The fixed run started, ETA tomorrow afternoon for all datasets. Sorry for the bug here.

[2015-09-25 23:47] feiranwang commented on #393
@zhangce The doc is updated in `incremental_update` branch. I'm updating the interface while running experiments...

[2015-09-25 23:50] zhangce commented on #393
@thodrek

[2015-09-26 00:42] thodrek commented on #393
@zhangce Fixed some typos in the incremental.md file.

[2015-09-26 02:22] raphaelhoffmann opened #412 "deepdive run with ddlog is not idempotent"
Suppose you have a ddlog program with the following structure:
[code]

Running ```deepdive run``` multiple times is not idempotent on such programs. More rows will be appended to table1 in each run.

Is there a way to overwrite or clear the tables? Using '=' instead of '+=' throws a compiler error.

[2015-09-26 04:05] astrung opened #413 "Lost data with spouses example"
With spouses example.i run 2 SQL queries:
- select count(*) from has_spouse >> Result:75422
- select count(*) from has_spouse_is_true_inference >> Result :70969
So we have lost some data right???(lost some has_spouses_candidates after deepdive inference)??Is it an bug??How to fix it?

[2015-09-26 15:12] netj commented on #407
I partly agree this isn't crucial with the teaser.  In my case, I was trying to confirm the whole dataset's format was identical to the teaser, but it was too large to download.  I thought we could switch to a superior format because we're going to republish them anyway for fixing other bugs.

[2015-09-26 15:15] netj commented on #406
@zhangce Yes, perhaps adding in the README a link to the right section of the tutorial or even to the opendata page is enough.  Once people download these datasets, they seem to get detached from the web page and expect things to be self-contained.

[2015-09-26 15:16] zhangce commented on #407
Only 2 out of 8 datasets need republishing. I will make the new ones
.tar.gz. (I personally like zip better but that's not important :)) For the
others, I will leave them untouched for now if it does not impact user
experience.

Ce
On Sep 26, 2015 8:12 AM, "Jaeho Shin" <notifications@github.com> wrote:

[2015-09-26 15:19] zhangce commented on #406
I see, I will make it clear in the README where to look up. Thanks!

Ce
On Sep 26, 2015 8:15 AM, "Jaeho Shin" <notifications@github.com> wrote:

[2015-09-26 15:29] netj commented on #412
There's no way yet.  I agree `deepdive run` should be idempotent.  I think the semantics of ddlog programs should be defined as starting from a state where all intensional relations are empty.  We could try to detect which relations are intensional vs. extensional, i.e. defined by ddlog vs. whose data come from external sources, or provide a syntax (or just annotation?) and truncate all intensiona

[2015-09-26 15:53] chrismre commented on #412
There should be a mode to warn if you are going to drop data. We should
*NEVER* drop extensional , user supplied data. *NEVER.*

Intensional relations should only be dropped in a "force" mode or something
(imo).

Chris

On Sat, Sep 26, 2015 at 8:29 AM Jaeho Shin <notifications@github.com> wrote:

[2015-09-26 16:00] raphaelhoffmann commented on #412
We just need a simple way to re-run ```deepdive run```, for example after you made some changes to a udf.

In that case you need to reset the generated tables. However, you can't use ```deepdive initdb``` because it will clear the entire database. It is also tedious and error-prone to use ```deepdive sql``` because you can easily forget a table.

[2015-09-26 16:02] chrismre commented on #412
This is why we have incremental processing...

On Sat, Sep 26, 2015 at 9:00 AM Raphael Hoffmann <notifications@github.com>
wrote:

[2015-09-26 17:08] zhangce commented on #412
I think one possible view of this is that each DeepDive run should have its own schema inside a database instance (as in PG's terminology, it is just a group of table with names, the default schema is `public`)--every DD run creates a new schema inside a DB instance, but never deletes/alters the old schema (we can have some tools to help the user to clean old DD-created tables in those old schema,

[2015-09-26 17:44] alldefector commented on #412
Love Ce's idea! Schema-level separation between user data and internal data also came up when we were designing a live-ingestion-and-processing system (which is of course incremental).

A stop gap might be some syntax like `table1 = f(...)` (as opposed to `table1 += f(...)`), which would clear the table before populating it.

[2015-09-26 18:24] feiranwang commented on #412
@raphaelhoffmann I think what you need is ddlog truncating the output tables before running the extractors, as we usually do in `deepdive.conf`. In that way, every `deepdive run` will produce the same output instead of accumulating results from previous runs.

[2015-09-26 18:32] raphaelhoffmann commented on #412
@feiranwang That's exactly right. I just a need a simple solution for the short term. Is there a way to ```truncate``` in ddlog?

I understand that this more imperative way doesn't fit well with the declarative of nature of datalog, but the same may be true for "+="...

[2015-09-26 18:36] chrismre commented on #412
Let be clear here. WE *CANNOT DELETE USER DATA. *:) It cannot happen. So
please make sure the default is that this truncation does *not *happen.

Chris

On Sat, Sep 26, 2015 at 11:33 AM Raphael Hoffmann <notifications@github.com>
wrote:

[2015-09-26 18:46] chrismre commented on #412
let me propose that we have a separate call to deepdive that drops the
tables @netj. Dropping tables does not seem like a feature that should be
in the language...

On Sat, Sep 26, 2015 at 11:36 AM Chris Re <chris.re@gmail.com> wrote:

[2015-09-27 00:17] alldefector opened #416 "We should output "supervised" data points as well"
Looks like data points with filled is_correct values get excluded from Gibbs sampling. But the expectations on those data points are useful for both dev process and the final data product.

Right now, people would have to cumbersomely make copies of those supervised data points to force DD to run inference on them (@ajratner @zhangce @raphaelhoffmann for example). I think I've brought this up a wh

[2015-09-27 00:20] alldefector commented on #413
@astrung that might be a symptom of https://github.com/HazyResearch/deepdive/issues/416

Namely that 75422 - 70969 tuples were "supervised".

[2015-09-27 00:28] alldefector commented on #410
Yes, it appears plpythonu does require super user: http://stackoverflow.com/questions/2848704/postgresql-running-python-stored-procedures-as-a-normal-user

[2015-09-27 00:33] zhangce commented on #416
@thodrek 's new framework should provide an ultimate cleaner solution here. For short term, it should also be an easy fix.

[2015-09-27 02:28] chrismre commented on #410
@netj can you setup a Skype with @vsoch, let's make sure this is resolved :)

[2015-09-27 02:48] vsoch commented on #410
I think we should be able to set up a dedicated database with superuser - I will know more information on Monday! If not, it would definitely be worth a chat. I can imagine many scenarios of wanting to use DeepDive without any kind of sudo.

[2015-09-27 02:56] vsoch commented on #410
Once I know more about the database, it might be needed to setup a Skype to talk about the different options for setting this up to run in parallel. I have a few ideas, will likely try a few things, and very likely will have questions!

[2015-09-27 03:00] chrismre commented on #410
I think the plpython dependency is gone (or will be soon). @netj can
confirm :)

On Sat, Sep 26, 2015 at 7:56 PM vsoch <notifications@github.com> wrote:

[2015-09-27 03:10] vsoch commented on #410
+1 !

[2015-09-27 03:13] zhangce commented on #410
@chrismre The default plpythonu dependency is scheduled to be removed in the coming release (~this weekend?) If users need it, they can install it by themselves; but by default, DD will not require `sudo` very soon.

[2015-09-27 03:15] vsoch commented on #410
@zhangce, wicked awesome. Looking forward to it.

[2015-09-27 10:33] zifeishan commented on #416
Agreed that this is very useful in many applications.

On Sun, Sep 27, 2015 at 2:33 AM, zhangce <notifications@github.com> wrote:

--
Zifei Shan
M.S. in Computer Science, Stanford University (2015)

[2015-09-27 20:48] raphaelhoffmann commented on #416
@zhangce @SenWu @feiranwang Can you show us a few lines of ddlog code that does this copying of supervised examples? Or should we already do it inside our UDFs?

[2015-09-27 20:54] feiranwang commented on #416
@raphaelhoffmann This can be achieved by turning on the sampler argument `--sample_evidence`, which will let the sampler output probabilities for evidence variables as well. The sampler argument could be added in `deepdive.conf`, and when the `app.ddlog` is compiled by `deepdive run`, this option will get incorporated.

[2015-09-27 20:54] zhangce commented on #416
@feiranwang Thanks, Feiran! Yeah, I forget you added this before...

[2015-09-27 20:57] ajratner commented on #416
Yeah sorry for not chiming in earlier, we ran into this problem in genomics and @feiranwang added the `--sample_evidence` flag for us pre-ddlog, so we had been using it

Confirming that there is a simple way to incorporate this with ddlog would be great too!

[2015-09-27 22:00] feiranwang commented on #413
The default setting is that deepdive only output probabilities for non-evidence variables. If you also want to see the probabilities for evidence variables, you can turn on the `--sample_evidence` flag in the sampler. Please refer to http://deepdive.stanford.edu/doc/basics/configuration.html#sampler and http://deepdive.stanford.edu/doc/basics/sampler.html.

[2015-09-27 22:50] raphaelhoffmann commented on #416
Thanks! That works! @alldefector I think we can close this issue.

[2015-09-28 03:01] alldefector commented on #416
Hi @feiranwang , did you mean we can specify `--sample_evidence` in `app.ddlog` or the `deepdive run` command line? I wasn't able to find out how...

In light of people's confusion regarding this design choice, what do you guys think if we turn the flag on by default?

[2015-09-28 03:23] raphaelhoffmann commented on #416
+1. Turning it on by default (and supporting switch ```--disable_evidence_sampling```) would also allow us to avoid having to edit ```deepdive.conf```.

[2015-09-28 04:00] feiranwang commented on #416
@alldefector For ddlog application, according to [this doc](http://deepdive.stanford.edu/doc/advanced/deepdiveapp.html#structure), there can also be a `deepdive.conf`, which contains extra configuration (sampler args, etc.). For example, `deepdive.conf` may look like
[code]

[2015-09-28 04:08] chrismre commented on #416
This should not be on by default.

On Sun, Sep 27, 2015 at 9:00 PM Feiran Wang <notifications@github.com>
wrote:

[2015-09-28 05:45] #394 closed

[2015-09-28 06:08] #405 closed

[2015-09-28 08:01] #335 closed

[2015-09-28 08:01] #337 closed

[2015-09-28 08:02] #339 closed

[2015-09-28 08:45] #407 closed

[2015-09-28 08:45] #406 closed

[2015-09-28 14:29] ukliu opened #419 "please delete"

[2015-09-28 18:43] #419 closed

[2015-09-28 19:10] #392 closed

[2015-09-28 21:12] xiaoling commented on #416
Yeah, I was completely confused by why MindBender didn't include the supervision examples...

[2015-09-28 21:42] zhangce commented on #416
@feiranwang @raphaelhoffmann
Following is my opinion on this discussion... tl;dr I think it is the user's responsibility of creating copies or adding the flag to sample evidences (I actually don't think we should ever have a flag to sample evidences, but that is a separate issue).

There are couple ways to deal with supervision data:
   1. Assume it is users' responsibility to create copies if the

[2015-09-28 22:10] feiranwang commented on #416
Just to add a point for 1, the users don't need to create copies of training data, they just need to turn the sampler flag on. Then, the sampler will sample evidence variables during inference.

[2015-09-28 23:56] raphaelhoffmann opened #420 "Using UNLOGGED in combination with PG-XL is unreliable"
Some queries frequently fail on PG-XL when tables are UNLOGGED. Here is an example:

[code]

I suggest we turn off the UNLOGGED flag for PG-XL by default (but still leave it for postgres?).

[2015-09-29 01:36] raphaelhoffmann commented on #416
@zhangce I agree that there are different things you might want to do with DeepDive, and in some cases you do *not* want to sample evidence variables.

When building extractors with *noisy* distant supervision rules, however, you likely *do* want sample evidence variables. We may at least want to emphasize this setting in the tutorials and examples since some users may not be aware.

[2015-09-29 01:44] raphaelhoffmann commented on #412
Yes. Some command like ``deepdive clear`` which checks app.ddlog for all tables and then truncates each one would be handy. It might make sense to ask the user for confirmation.

[2015-09-29 01:59] zhangce commented on #416
@raphaelhoffmann I agree that we should have a tutorial to tell users about different ways of treating distant supervision rules.

My comment was only about the topic that whether `sample_evidences` should be a default setting or not, which I think we should not set it as default.

[2015-09-29 02:12] thodrek commented on #416
@raphaelhoffmann We are actually developing a formal framework that will address exactly this issue of noisy "evidence" from distant supervision rules. Maybe we can talk more in person. Indeed sampling evidence variables is interesting in that context. As a new deepdive user myself I've already spent sometime playing with the -sample_evidence flag and I would like to second the argument that sampl

[2015-09-29 02:14] ajratner commented on #416
@zhangce I think one of the big benefits of having the `--sample-evidence` flag is that users don't have to create copies, and we don't have to consider these issues.  In fact in the genomics code, before I was involved, I actually think there were some confusions due to having created copies- which is part of why I asked Feiran about making the sample evidence flag...

In general, I actually thin

[2015-09-29 02:27] ajratner commented on #412
Isn't this similar to a (slightly more simple-minded) issue I posted which seems to have been partly resolved: #351 ?

To chime in with my now tedious "one time at band camp"-style comments... One time at genomics camp, we also implemented a short term fix for this issue which was to have two versions of the "initdb" command equivalent, one which did and one which did not ever touch user data (aga

[2015-09-29 05:16] alldefector commented on #416
Looks like there are two issues:
1. Do we run inference on supervised data points or not? How?
2. Should we give the user an output table that contains all extractions regardless of whether they are supervised or predicted?

I suppose everyone would agree that we say yes to question 2. And 2 is the source of lots of confusions; e.g., wondering why there is data loss, wondering why MindBender doesn

[2015-09-29 05:29] zhangce commented on #416
With @thodrek's principled framework on noisy distant supervision, I would say yes.

If we are talking about the current version of DeepDive, and the question is whether we provide that table **by default**, I would say no to this question. I feel like outputting supervised labels to the user by default as extractions might bring in more confusions , and cause questions about the training/testing

[2015-09-29 05:59] raphaelhoffmann opened #421 "DDLOG fails when views depend on views"
Consider the following DDLOG snippet:
[code]
Running this program the second time crashes DeepDive, because it cannot drop view ``wordidxs_unnested`` (view ``wordidxs_tmp1`` depends on it).

There may be a better fix, but one work-around is to generate ``deepdive.conf`` and append ``CASCADE`` to
[code]

[2015-09-29 08:19] raphaelhoffmann opened #422 "DDLOG does not run analyze, sometimes executes bad query plans"
Our ddlog contains:
[code]
which gets translated into
[code]
The query plan that gets executed performs three hash joins and is very slow. After manually running analyze on each table, the same query yields a more efficient plan with three merge joins.

Not sure how to solve this in DDLOG: always run analyze? allow users to force analyze?

[2015-09-29 09:20] SenWu commented on #422
@raphaelhoffmann We will always run `ANALYZE TABLE_NAME` after each extractor. For example, in tsv extractor, we have https://github.com/HazyResearch/deepdive/blob/master/src/main/scala/org/deepdive/extraction/ExtractorRunner.scala#L509.

[2015-09-29 16:01] vsoch commented on #410
Hi Hazy! Any updates on superuser? Did you mean this passed weekend, or next weekend? We are paused in developing on TACC so I wanted to make sure that I didn't miss the update!

[2015-09-29 16:05] netj commented on #410
Hi @vsoch, a new release is out ([v0.7.1](https://github.com/HazyResearch/deepdive/releases/tag/v0.7.1)) which removed the plpythonu dependency for postgresql.  Can you see if that helps?  You can use the same installation instruction to get the latest release:
[code]

[2015-09-29 16:15] vsoch commented on #410
Excellent! I will update this morning and let you know if I run into trouble.

[2015-09-29 16:20] netj commented on #410
Let me know if you want to look into any of your problem together.  I can Hangout/Skype later in the afternoon PT.  I'll send a direct email.

[2015-09-30 01:28] raphaelhoffmann commented on #422
@SenWu Thanks! It looks like we ran into an issue with PGXL, not DDLOG.

After restarting PGXL, the time for this query went down from 38 min to 3 min, and the query plans were good again. (We kept the old logs and query plans both before/after analyze in case they are useful.) Due to this and other issues, we decided to move our processing back to Greenplum.

[2015-09-30 01:28] #422 closed

[2015-09-30 12:11] astrung commented on #408
well,anyone can explain for me about this result???

[2015-10-01 02:37] raphaelhoffmann opened #423 "DDLOG app no longer compiles with latest release"
Many of our extractors have the following DDLOG structure:
[code]

This worked fine until the latest release 0.7.1., but now I'm getting
[code]
If I use a deepdive build based on a commit from 3 days ago (84898b1c9b9337a64057c521def5008b34d8913f),  it works fine.

Did the DDLOG syntax change?

[2015-10-01 02:48] chrismre commented on #423
@netj @zhangce What's going on here?

[2015-10-01 02:50] zhangce commented on #423
@raphaelhoffmann Where did you define the relation `candidates_unnest` in the program?

[2015-10-01 02:50] feiranwang commented on #423
Looking into this.

[2015-10-01 02:53] zhangce commented on #423
@raphaelhoffmann Can you give us the full program to reproduce this? The program you provided should throw this error because you do not give ddlog the schema of `candidates_unnest `...

[2015-10-01 03:18] feiranwang commented on #423
@netj Hi Jaeho, I checked this program works on my recent ddlog, and it seems this problem occurs after merging seojiwon's HazyResearch/ddlog#56.

[2015-10-01 03:21] chrismre commented on #423
Oh no! Can we get that fixed =)

[2015-10-01 03:39] netj commented on #423
The new type checker for supervision columns seems to be the cause. I think using undeclared relations shouldn't be allowed eventually but we can get the type checker quickly fixed to skip undeclared relations for now. @seojiwon Can you make a fix?

[2015-10-01 04:05] zhangce commented on #423
@raphaelhoffmann Sorry for the confusion, I didn't know that in ddlog we can use a relation without declare its schema.

[2015-10-01 05:16] netj commented on #423
@raphaelhoffmann Thanks for reporting.  I'll create a maintenance release tomorrow.

Btw, do you think it's useful to have an automated binary build of master (and every maintenance branch, e.g., v0.7.x)?  It can free you from going through a tedious source build and we won't have to create a bunch of hotfix releases for these small bug fixes.

[2015-10-01 07:29] #423 closed

[2015-10-01 08:16] astrung opened #424 "How to run second extractor and inference after first inference"
i have 2 inference variables,but second inference variable get first inference variable as an input,so i want to run a pipeline like that:
Inference variables:{A,B}
- Extractor A mentions
- Inference for A variables
- Extractor B mentions(get high expectation of A variable as it input)
- Inference for B variables
Does deepdive support it????And how to do that???

[2015-10-01 09:15] astrung commented on #413
But what is "evidence variables"??Even with some variables with same values(with spouses examples,it have same persons 1 and persons 2),some variables is not in output??I thinh that "evidence" is training data and testing data????

[2015-10-02 04:02] vsoch opened #426 "Parallelization"
I have my extractors working, SSL resolved (thanks @netj !) and I've been started to learn about Hadoop getting ready to figure out Parallelization. Then I came across [this paper](http://www.cs.stanford.edu/people/chrismre/papers/deepdive_vlds.pdf).

Before I dive too deeply (pun intended) into learning an infrastructure that has been tested and deemed not appropriate, I wanted to run this by you

[2015-10-03 16:51] Colossus opened #427 "If an extractor depends on inference, DD halts indefinitely before doing inference"
At least stop with an error ... please. What's currently happening is that the output looks exactly like inference (with lines like

    09:10:33 [taskManager] INFO  Memory usage: 539/1809MB (max: 233017MB)

getting output every minute and nobody knows what's going on.

(ACTUALLY, I'd propose ALLOWING extractors after inference. MY particular extractor was for printing precision and recall numbers

[2015-10-03 21:07] chrismre commented on #427
@netj @zhangce we should fix this!

[2015-10-05 22:18] alldefector commented on #412
@netj what do you think of @zhangce 's proposal above? We could specify the search_path (say `dd_run_0003, public`) at the connection level or in the DB connection string.

Encapsulating all the internal tables away from user data will be a great move. Benefits are manyfold:
- cleanness: easy to see what's input, what's output, and what's intermediate
- lower risk of losing user data
- more friend

[2015-10-05 23:05] alldefector commented on #427
Related: #424

Support for result pipelining would be great. Looks like a key challenge would be to cleanly model the "result" (see #416).

[2015-10-07 00:26] raphaelhoffmann commented on #412
To add to @alldefector's bullets: We now create one database per extractor,
because it takes too long to run multiple extractors at once and we need to keep all
intermediate output. Our problem now is loading the sentences table (264G, > 1h),
which we wouldn't have with schema support.

@netj @zhangce We did a bunch of experiments around @zhangce 's idea of using separate schemas,
and have a preli

[2015-10-07 02:00] alldefector opened #428 "Possible to get rid of UDF input data splitting?"
We ran a simple extractor that basically just takes phrases with the NER tag PERSON over 30M documents (about 200GB in terms of sentences table size). Here is a breakdown of the time spent:

COPY OUT (with ARRAY_TO_STRING): 30 min
split: 35 min
UDF: 10 min (70 threads)
COPY IN: 20 min

First, some small perf comments:
1. Wonder whether we could speed up COPY OUT significantly if we could get rid o

[2015-10-07 03:42] netj commented on #428
Here's the script in an ancient branch that was going to replace the generated exec_parallel.sh scripts, avoiding materializing any split inputs to do udfs: https://github.com/HazyResearch/deepdive/blob/netj-inmemory-extraction/util/run_parallel.sh

The extraction part needs a complete rewrite IMO. Dependencies don't make sense, parallelizing is suboptimal, akka fills up the log with noise. Especi

[2015-10-07 03:48] raphaelhoffmann commented on #412
I added a branch with all the necessary changes.

https://github.com/HazyResearch/deepdive/compare/84898b1c9b9337a64057c521def5008b34d8913f...schema_support

If you build this and then, in your DD app, run

[code]

then all generated tables will be in schema ``my``. You can verify this in psql by running
[code]

[2015-10-07 03:56] netj commented on #412
Sounds great @raphaelhoffmann. Thanks for exploring.

I think we should add a separate command or commands that create/enumerate/drop the schema or versions rather than overloading deepdive initdb.  We can discuss more on what operations are needed with versioning and at what granularity for completeness.

Not being able to support MySQL is okay. We just need to provide a graceful way in the drive

[2015-10-07 15:54] chrismre opened #429 "Tutorial: integrate external extractors with DeepDive"
Nigam Shah made the point that we should make it easier for people to integrate external extractors that they written in DeepDive. In antiquity, this was actually the first design of DeepDive, but now it is quite mysterious....

Can someone write a tutorial about how to do this in ddlog? @netj @feiranwang

Follow up with Nigam for an example.

[2015-10-07 17:50] #378 closed

[2015-10-07 20:10] netj commented on #399
Hi @astrung,

- The first one isn't an issue because DeepDive streams the records from database to the Python UDFs, and as long as the UDF operates on each row independently (row-wise extractor), memory won't be a limit.  There is however an implementation artifact that duplicates the input data for UDF on filesystem (#428), so the disk storage can be a limit.   But we plan to lift this limitation

[2015-10-07 20:10] #399 closed

[2015-10-07 20:24] netj commented on #408
Is `is_keyword_here.key_word_product` declared as a deepdive.schema.variables?  The histogram centered in the middle tells that DeepDive was not able to learn anything usually due to an empty training set.

[2015-10-07 20:30] netj commented on #424
Unfortunately, you have to create two DeepDive applications for that, first running one for A, then taking extractions to run another for B.  However, we strongly recommend to stay within a single app to do "joint inference" by expressing the correlations between all variables in A and B within one factor graph.

[2015-10-07 20:30] #424 closed

[2015-10-07 20:47] netj commented on #410
I think using v0.7.1 resolved this issue (although we had to use more workaround for SSL).

[2015-10-07 20:47] #410 closed

[2015-10-08 01:04] vsoch opened #430 "Why Blank ID for "has_relation" example?"
I'm hitting a bug that the "id" variable is null (and it breaks a requirement of not null) when I am trying to perform inference:

          SELECT sentence_id FROM sentences WHERE RANDOM() < 0.25
          19:38:50 [PostgresDataStore(akka://deepdive)] DEBUG Executing query via JDBC: INSERT INTO dd_graph_variables_holdout(variable_id)
          SELECT id FROM has_related_concept WHERE sentence_id

[2015-10-08 17:45] dshore opened #431 "Why remove tasks dependencies that are not in the pipeline?"
What is the rationale for removing task dependencies not specified in the pipeline?
https://github.com/HazyResearch/deepdive/blob/master/src/main/scala/org/deepdive/DeepDive.scala#L148

By always removing the dependencies one is forced to resolve the dependency graph manually and add to the pipeline.  I do see the benefit of allowing the pipeline definition to override dependencies but it seems th

[2015-10-08 19:50] netj commented on #431
Sorry, the current dependency handling is largely broken, and most power users so far preferred to manually manage their pipelines.  I completely agree this shouldn't be the default, and we'll get this fixed pretty soon as we get rid of Akka.  We're going to refactor the extractor runner part to easily support various compute environments other than local processes, so we'll definitely take depend

[2015-10-08 23:39] raphaelhoffmann commented on #412
We are now using schemas for our DeepDive app. It works well, and saves us a lot of time.

If you have access to our [repo](https://github.com/HazyResearch/elementary-memex/blob/schema_support/escort/bin/run), you can see how we are now launching the extractors.

Separate commands for the schemas would be nice, but are not absolutely necessary.

Something that would be very useful though is a DDLO

[2015-10-09 09:15] netj commented on #412
@raphaelhoffmann Great to hear it's working!

You can in fact already invent your own annotation and use `ddlog export-schema`'s json output to figure out user's table.  However I agree we should decide on a fixed annotation recognized by the deepdive subcommand that begins a new schema, sets up the search path, and drops such tables to make it visible.  It seems you changed `deepdive initdb`'s se

[2015-10-09 22:49] netj commented on #430
@vsoch The ids are supposed to be assigned before running your holdout query.  Not sure why it didn't.

@feiranwang Any idea why the ids for the variables table can remain null when executing the [holdout query](https://github.com/vsoch/neurosynth-nlp/blob/master/deepdive.conf#L157-L164)?

[2015-10-09 23:14] feiranwang commented on #430
@vsoch The problem is that variable relation `has_related_concept` is not declared in `schema.variables`.

[2015-10-09 23:43] vsoch commented on #430
Ah! That's what I get for renaming my pipeline to `has_related_concept` from `has_cognitive_concept`...

oh my gosh!! It's working!! It's working!!

[2015-10-09 23:46] vsoch commented on #430
Thanks for the help, you just made my Friday and brought immense happiness :O)

[2015-10-09 23:50] feiranwang commented on #430
That's awesome! :)

[2015-10-09 23:50] #430 closed

[2015-10-19 21:51] netj commented on #356
@feiranwang Didn't we solve this from ddlog compiler and deepdive-run at some point by providing a reasonable default parallelism and making this a non-issue?  Could you give a check and close?

[2015-10-19 21:56] #409 closed

[2015-10-19 21:56] #388 closed

[2015-10-20 08:36] #411 closed

[2015-10-20 08:54] feiranwang commented on #356
This is done in 0b387b388a2d182e0b4e26f4bff3ba7ee1f74864. Closing.

[2015-10-20 08:54] #356 closed

[2015-10-21 16:55] juhanaka commented on #421
I can take a look at this.

[2015-10-21 16:57] netj commented on #421
@juhanaka awesome!  You'll need to see https://github.com/HazyResearch/ddlog to fix the compiler.

[2015-10-22 07:22] zhimingz opened #432 "can not make deepdive from source code ?"
hello , I  download the source code , and then make it ,the follow error ocur:
=======================================
[zzm@localhost deepdive-0.7.1]$ make
sbt clean assembly

[info] Loading project definition from /home/zzm/deepdive/deepdive-0.7.1/project
/home/zzm/deepdive/deepdive-0.7.1/build.sbt:47: error: not found: value assembly
test in assembly := {}
        ^
[error] Type error in express

[2015-10-22 23:13] zifeishan opened #433 "ddlog support for inference with pre-learned weights"
Currently ddlog does not support doing inference with pre-learned weights, which is supported by the low-level configuration of `skip_learning` and `weight_table` parameters.

[2015-10-22 23:15] zifeishan opened #434 "Docs for doing inference with pre-learned weights seems missing"
The docs for using parameters `inference.skip_learning` and `inference.weight_table` seems missing from the website. One should need them when using pre-learned weights to do inference on new data.

[2015-10-23 04:01] zhimingz commented on #432
I now can compile deepdive, It was my sbt version old  ,. Now I use 0.13.9, it works.

[2015-10-24 08:43] netj commented on #433
Could you describe ideally how you want to run just the inference with the learned weights, e.g., at the level of `deepdive` command? Maybe we need a separate `deepdive learn` and/or `deepdive infer` commands? But you'd want to run extraction for new variables right?

[2015-10-29 19:54] stephenjbarr commented on #231
I am struggling getting Deep Dive working with docker. In particular, it is not clear how the Postgres container needs to be setup in order to work with Deep Drive. Would it be possible to supply the docker command to bring up the Postgres container and Docker container together. Or, even better, to show a [Docker compose](https://docs.docker.com/compose/) script showing how to launch this togethe

[2015-10-30 22:03] netj commented on #231
Hi @stephenjbarr, sorry our Docker support became low priority as we moved our focus on making the software work on common environments.  Our installer can now set up any Ubuntu or Debian-based cloud instances ready to run DeepDive with a single command.  I'm not familiar with how Postgres containers are set up or the specific way containers are supposed to communicate, but DeepDive is able to tal

[2015-11-01 14:59] stephenjbarr commented on #231
Hi @netj I will try to spend some time on this next week. I am just getting started with DeepDive in general so I may have a bit of questions to ask along the way. I was able to instlal Deep Dive onto an EC2 image and that seemed to work okay, although the Markov Logic Network examples gave some $DBPORT error that I will need to track down.

Thanks! I'll be in touch.

[2015-11-18 02:07] SenWu opened #439 "update the sampler document"
Please update the doc about sampler args.

The sampler accepts two different input formats:
1.Original mode: sampler uses new input format(variable file, factor file, and weight file; no edge file).
2.Incremental mode: sampler uses the old input format(variable file, factor file, and weight file, and edge file).

For new input format:
1. The format of variable file and weight file are the same.
2.

[2015-11-28 19:41] hartsantler opened #441 "no install instructions for building from source"
so after i git clone this repo, then what?

http://deepdive.stanford.edu/doc/basics/installation.html

that page says nothing about doing a git clone and how to build from scratch.

[2015-11-28 20:31] netj commented on #441
See the [developer's guide](http://deepdive.stanford.edu/doc/advanced/developer.html#build-test) linked from that page.

[2015-11-28 20:37] netj commented on #441
The link is buried in the middle of the text and not very visible.  We'll make it clearer.  Thanks for your feedback!
* [ ] add a *build from source* section to installation page
* [ ] document build dependencies in developer's guide

[2015-11-28 22:36] hartsantler commented on #441
i ran `make depends` if first prints out that Fedora is not supported,
then reminds me that i needs to install: git, make, bzip2, unzip and jdk, (which i already have), and then it prompts me if i want to continue.  I have to type `y`,
then it asks me again to make sure i have: bash, coreutils, xargs, bc, gnuplot, jre, and python (i have all these already).

i wish that it would not prompt me to t

[2015-11-28 22:49] hartsantler opened #442 "build from source fails on fedora22"
i ran `make depends` and then `make`, below is the error from `make`.
[code]

[2015-11-29 20:34] netj commented on #442
You need to have libnuma-devel installed and use gcc >= 4.8.  These were recently added dependencies to the master branch as we started to build sampler from source.  You can also stick to the v0.7.x branch which don't need them.

[2015-11-30 15:07] hartsantler commented on #442
thanks netj, i got deepdive to compile.
note that in the new fedora the libnuma-devel package has been renamed to:
numactl-devel

[2015-11-30 15:07] #442 closed

[2015-12-02 23:53] billgreenwald opened #443 "org.apache.commons.dbcp error"
While installing deepdive from the github (using the jdbc_removal branch, though the error looks to be in multiple branches) I hit the following error

[error] /home/bill/nonjdcb-deepdive/deepdive/src/main/scala/org/deepdive/datastore/PostgresDataStore.scala:25: object dbcp is not a member of package org.apache.commons
[error]       val del = new org.apache.commons.dbcp.DelegatingConnection(connec

[2015-12-03 00:32] netj commented on #443
Thanks for reporting.  This has been fixed in the master via 49c0bd478d22fc26ae4913c0add94ca3577311d7.  You could also merge or cherry-pick it in the jdbc_removal branch.

[2015-12-03 00:32] #443 closed

[2015-12-10 20:59] billgreenwald commented on #256
I am running into this error too, both on the JDBC removal and normal branches.  Has this been resolved/is there a workaround?

[2015-12-17 20:19] netj commented on #386
Done in #437 and HazyResearch/sampler#13

[2015-12-17 20:19] #386 closed

[2015-12-17 20:20] netj commented on #404
@ThomasPalomares @juhanaka @ajratner can you create a PR if making ddlib play nice with Python3 is this simple?  Thanks!

[2015-12-17 20:20] netj commented on #187
Duplicate issue #404 has more details

[2015-12-17 20:20] #187 closed

[2015-12-17 20:20] netj commented on #441
Done in e54092a76a3efb75889c704fdd817fb9fe3a9379 and f8e1353d8d7406adfdc2ce0fdcb592ef8772a412, and they'll appear in the next release.

[2015-12-17 21:05] #432 closed

[2015-12-17 21:06] #102 closed

[2015-12-17 21:12] #252 closed

[2015-12-17 21:13] #130 closed

[2015-12-17 21:15] netj commented on #195
Superseded by #237

[2015-12-17 21:15] #195 closed

[2015-12-17 21:17] netj commented on #7
This is too dated and lacks detail for action. Let's close this and reopen or create a new issue if needed.

[2015-12-17 21:17] #7 closed

[2015-12-17 21:18] netj commented on #5
This is a great idea but lacks detail to be actionable. Let's close this and create a new issue with concrete ideas later.

[2015-12-17 21:18] #5 closed

[2015-12-17 21:18] netj commented on #4
This is too dated and lacks detail for action. Let's close this and reopen or create a new issue if needed.

[2015-12-17 21:18] #4 closed

[2015-12-17 21:22] netj commented on #408
Closing this for lack of response. Please reopen with details if needed. Thanks!

[2015-12-17 21:22] #408 closed

[2016-01-05 01:16] #1 closed

[2016-01-05 01:16] #20 closed

[2016-01-05 01:16] #110 closed

[2016-01-05 01:16] #273 closed

[2016-01-05 01:16] #280 closed

[2016-01-05 01:16] #349 closed

[2016-01-05 01:16] #351 closed

[2016-01-05 01:16] #357 closed

[2016-01-05 01:16] #361 closed

[2016-01-05 01:16] #383 closed

[2016-01-05 01:16] #384 closed

[2016-01-05 01:16] #412 closed

[2016-01-05 01:16] #421 closed

[2016-01-05 01:16] #427 closed

[2016-01-05 01:16] #428 closed

[2016-01-05 01:16] #431 closed

[2016-01-05 01:16] #441 closed

[2016-01-05 01:16] #329 closed

[2016-01-08 07:11] chrismre commented on #303
:(

[2016-01-13 17:44] paidi opened #454 "Gibbs sampler does not seem to support multiple regularisation parameters"
The walkthrough in the documentation states that

However, when running the code in [step2-generic-features](https://github.com/HazyResearch/deepdive/tree/master/examples/tutorial_example/step2-generic-features) I received an error due to the Gibbs sampler being called with multiple `reg_param` parameters set.

[2016-01-13 18:45] netj commented on #454
Sorry for the confusion.  That feature (#184) has been dropped a while ago due to a bug (#204) and the documentation/example hasn't been updated properly.  For the moment, please stick to using a single `--reg_param` option.  We'll update the doc and examples very soon.

[2016-01-13 22:05] paidi commented on #454
Thanks @netj. That was what I figured and have completed the walkthrough using a single `--reg_param`

[2016-01-14 21:42] zifeishan opened #455 "Filter out fixed-zero-weight factors in grounding"
In a common use case:
- train the model on a small sample of data,
- save the weight table,
- and then reuse the learned weights for inference on a larger dataset.

When doing the inference, many features that have non-zero weights may appear, which leads to grounding cost. It would be nice if DeepDive can filter out zero-weight factors in grounding, if the weight table is assigned, to reduce grou

[2016-01-20 07:24] netj commented on #416
Another incident of confusion here: HazyResearch/dd-genomics#261.  Apparently, not having `--sample-evidence` on by default confuses even the most sophisticated users of DeepDive.  I'd say keeping this off by default is a terrible design, and we should rather communicate the important distinction between training/testing in a more explicit way, e.g., by providing extra views to inference results f

[2016-01-20 20:13] zifeishan opened #461 "ddlog support for arrays in factor functions"
Currently ddlog does not support aggregating an array of variables into a factor function.

[2016-01-21 01:23] raphaelhoffmann opened #462 "categorical variables do not work with --sample_evidence"
If you run the chunking example with "--sample_evidence" two unexpected things happen:
1. Most expectations returned by the sampler are NaN.
2. The final calibration query fails.
Is there an easy fix for that?

[2016-01-21 03:19] feiranwang commented on #462
Will fix this soon.

[2016-01-21 06:57] #336 closed

[2016-01-21 06:57] #332 closed

[2016-01-21 19:43] netj commented on #462
@raphaelhoffmann I'll bring the fix into master and v0.7.x soon.  For the moment, you can manually point your submodule to it.

[2016-01-21 19:59] raphaelhoffmann commented on #462
@feiranwang @netj Wow, thanks guys, for fixing this so quickly!

[2016-01-21 20:59] raphaelhoffmann opened #463 "categorical variables do not work with skip_learning"
When using `skip_learning` and loading a weight_table, the weights are assigned by joining only on the  `description` column but not the `cardinality` column. See the code [here](https://github.com/HazyResearch/deepdive/blob/e770f7e9ea7ff71dedc05e6392349f459807bbfd/src/main/scala/org/deepdive/inference/SQLInferenceRunner.scala#L913).

Consequently, the same feature weights are assigned to every ca

[2016-01-21 23:30] ajratner opened #464 "Deepdive doesn't halt on UDF error?"
It seems like DeepDive will keep running when a python exception is thrown; and in fact, the `show_progress` script seems to clear & write over some of the exception messages...

I think this is potentially bad because given the verbosity of the output, someone could easily miss a minor but important error

Also, since resuming an interrupted deepdive program is now _super_ easy (thanks @netj !),

[2016-01-22 02:24] netj commented on #463
DD0.8 currently does not support learned weight reusing yet, so no it doesn't have the issue now but should be careful.

[2016-01-23 18:53] raphaelhoffmann opened #466 "Missing warning when using int instead of bigint for id column"
When you define the schema for a candidate table, you can use int as the datatype for your id column. In that case DeepDive will run, but it will be much slower than if you choose bigint. This is because joins with internal tables cannot be as efficiently executed when the datatypes don't match. It would be great if DeepDive could show a warning or throw an error when the datatype is not bigint.

[2016-01-23 19:32] netj commented on #466
Is this applicable to ddlog? Or when using deepdive.conf directly?

[2016-01-23 22:24] #464 closed

[2016-01-23 23:10] lucmichalski opened #467 "Docker-compose / Docker"
Hi guys,

Hope you are doing well !

Is there any dockerfile or docker compose template available for deepdive ?

That would be amazing :-)

Cheers,
Luc Michalski

[2016-01-24 02:40] raphaelhoffmann commented on #466
I noticed when using deepdive.conf, but I think the issue applies to ddlog as well.

[2016-01-24 02:44] netj commented on #466
The internal ids are at least always bigint I believe but for other fields giving warnings sounds good.

[2016-01-28 03:06] skprasadu opened #469 "Compilation error"
Hello,

When I am doing "sbt compile" I am getting a compilation error as below,

[error] /home/krishna/my-applications/java/deepdive/src/main/scala/org/deepdive/datastore/PostgresDataStore.scala:23: object dbcp is not a member of package org.apache.commons
[error]       val del = new org.apache.commons.dbcp.DelegatingConnection(connection)
[error]                                        ^
[error]

[2016-01-28 03:09] netj commented on #469
This is fixed in v0.7.x branch as 49c0bd478d22fc26ae4913c0add94ca3577311d7.  Duplicate of #443.

[2016-01-28 03:09] #469 closed

[2016-01-28 04:31] netj opened #470 "Automatically run `deepdive compile` when necessary"
Currently, the user has to remember to manually run `deepdive compile` after making changes.  Some users want `deepdive do` to be smarter and conservatively compile by itself when needed.  The process timestamps can be invalidated whenever the user switches database or makes changes to the udf files.  The data timestamps may well be kept per db.url and we could rely on git to detect changes to fil

[2016-01-28 19:36] skprasadu commented on #467
There is this link, please see if it is useful.. for me somehow, the linking between Postgres and Docker was not working..

http://deepdive.stanford.edu/doc/advanced/docker.html

If you make it work, please let me know how it works.

Thanks
Krishna

[2016-01-28 19:54] netj commented on #236
This will be dramatically simplified in the next release:
* With `from deepdive import *`,
* [`@tsv_extractor` and `@returns` decorators and the argument default values abstracts away the TSV parsing in UDFs](https://github.com/HazyResearch/deepdive/blob/new-spouse-example/examples/spouse/udf/map_person_mention.py#L4-L13) as well as
* [how they're called from DDlog](https://github.com/HazyResearch

[2016-01-28 21:29] alldefector opened #471 "Add support for functional dependencies within a variable table"
This is the front-end support for the multinomial variable type in the sampler.

This is critical for classification targets such as entity linking, where the table schema is <object, class> and for each value of 'object', only one 'class' can be true in any state. If we don't support this constraint, we'd have to use the pairwise exclusivity rule to emulate it -- which would result in dramatic bl

[2016-01-28 21:38] chrismre commented on #471
This should have really been in the code a year ago @feiranwang. @zhangce Can you fix this?

[2016-01-28 21:55] netj commented on #471
For functional dependencies, DeepDive can recognize columns of variable relations without `@key` annotations if it is present on any column.  However, It's not clear to me how exactly such dependencies should be grounded for the sampler.  Should they be turned into categorical variables, or attach oneIsTrue factors to them?  Can someone clarify a bit for me?

[2016-01-28 21:59] alldefector commented on #471
The OneIsTrue factor type doesn't seem to be implemented as a constraint, so categorical variable seems like the way to go. For grounding, I'd do a GROUP BY @key to get an array of tuple IDs for each group; and each such array would be a categorical variable in the sampler.

[2016-01-28 22:25] netj commented on #471
Right, unless we turn it into categorical, there's probably no difference in the blowup.  This sounds also doable at the DDlog level, by desugaring such cases.  I think you'll want to correlate such categorical variables with other boolean ones, but I believe that is currently not possible.  I think we'll need to add a few more ways to mix them as well to make this actually useful, implications, e

[2016-01-28 23:47] alldefector commented on #471
Very good point! Yes, looks like we do have to keep the identities of the underlying boolean variables in those groups so that they can correlate with other variables. I don't know how categorical variables are currently implemented in the sampler. For things to work, the underlying boolean variables must be referenceable in the factors.

Conceptually it'd be cleaner to say all variables are boole

[2016-01-29 00:43] feiranwang commented on #471
@alldefector Sorry I'm not quite following here. It seems this can be done using multinomial variables or boolean with one-is-true constraints. Could you give a concrete example that requires more support in the system?

[2016-01-29 00:44] alldefector commented on #471
Yes, it is the one-is-true constraint. However, the sampler doesn't seem to support this constraint currently. There is a factor type by the same name, but it's not a constraint.

[2016-01-29 01:11] ajratner commented on #471
Vanilla gibbs sampling gets broken if you add in a "hard" constraint (i.e.
infinite / near-infinite weight) like OneIsTrue, because ergodicity gets
broken (you can't reach certain states from certain other states).  However
you could just do block gibbs, where you would sample from all the boolean
variables connected by this OneIsTrue factor (conditioned on all the other
vars' values at that point